// ********** ----- IDENTIDADE VISUAL (APLICAÇÃO) ----- ********** //
@import "identidade/_smc-identidade-visual.scss";


a {
    font-family: $smc-estilo-textos-sistema-font-family;
    font-size: $smc-estilo-textos-sistema-font-size;
}

hr {
    border: 1px dashed $smc-cinza-04;
    border-bottom: none;
}

.smc-buttonset-horizontal-primario {
    display: inline-block;
    text-align: right;
    float: right;
    clear: both;
    border-top: 1px solid $smc-cinza-04;
    margin-top: 40px;
    width: 100%;
}
////////********************-------------
.fa-print:before,
.smc-btn-imprimir-icotext-destaque > i:before {
    content: "";
    color: $smc-cor-secundaria-01;
}

.smc-btn-alterar-icotext-destaque, .smc-btn-anexar-icotext-destaque, .smc-btn-anterior-icotext-destaque, .smc-btn-atualizar-icotext-destaque, .smc-btn-concluir-icotext-destaque, .smc-btn-configurar-icotext-destaque, .smc-btn-confirmar-icotext-destaque, .smc-btn-copiar-icotext-destaque, .smc-btn-desfazer-icotext-destaque, .smc-btn-enviar-icotext-destaque, .smc-btn-fechar-icotext-destaque, .smc-btn-imprimir-icotext-destaque,
.smc-btn-limpar-icotext-destaque, .smc-btn-limparenviar-icotext-destaque, .smc-btn-novo-icotext-destaque, .smc-btn-pesquisar-icotext-destaque, .smc-btn-proximo-icotext-destaque, .smc-btn-sair-icotext-destaque, .smc-btn-salvar-icotext-destaque, .smc-btn-salvarnovo-icotext-destaque, .smc-btn-salvarsair-icotext-destaque, .smc-btn-visualizar-icotext-destaque, .smc-btn-voltar-icotext-destaque, .smc-btn-download-icotext-destaque,
.smc-lookup-open-command-text,
.smc-sortpicker-ordenar,
.smc-uploadFile-contextWindowControls > .smc-button > button,
.smc-btn-gerar-relatorio-icotext-destaque {
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    font-size: 12px;
    margin: 1px 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-repeat: no-repeat;
    height: 31px;
    padding: 2px 8px 0 8px;
    background-color: $smc-branco;
    border: solid 1px $smc-cor-secundaria-01;
    color: $smc-cor-secundaria-01;
    line-height: 27px;
}

.smc-btn-alterar-icotext-destaque > i, .smc-btn-anexar-icotext-destaque > i, .smc-btn-anterior-icotext-destaque > i, .smc-btn-atualizar-icotext-destaque > i, .smc-btn-concluir-icotext-destaque > i, .smc-btn-configurar-icotext-destaque > i, .smc-btn-confirmar-icotext-destaque > i, .smc-btn-copiar-icotext-destaque > i, .smc-btn-desfazer-icotext-destaque > i, .smc-btn-enviar-icotext-destaque > i, .smc-btn-fechar-icotext-destaque > i, .smc-btn-imprimir-icotext-destaque > i,
.smc-btn-limpar-icotext-destaque > i, .smc-btn-limparenviar-icotext-destaque > i, .smc-btn-novo-icotext-destaque > i, .smc-btn-pesquisar-icotext-destaque > i, .smc-btn-proximo-icotext-destaque > i, .smc-btn-sair-icotext-destaque > i, .smc-btn-salvar-icotext-destaque > i, .smc-btn-salvarnovo-icotext-destaque > i, .smc-btn-salvarsair-icotext-destaque > i, .smc-btn-visualizar-icotext-destaque > i, .smc-btn-voltar-icotext-destaque > i, .smc-btn-download-icotext-destaque > i,
.smc-lookup-open-command-text > i,
.smc-sortpicker-ordenar > i,
.smc-uploadFile-contextWindowControls > .smc-button > button > i,
.smc-btn-gerar-relatorio-icotext-destaque > i {
    font-family: FontAwesome;
    font-style: normal;
    display: inline-block;
    margin: 2px 8px 0 0;
}

.smc-btn-alterar-icotext-destaque > i::before, .smc-btn-anexar-icotext-destaque > i::before, .smc-btn-anterior-icotext-destaque > i::before, .smc-btn-atualizar-icotext-destaque > i::before, .smc-btn-concluir-icotext-destaque > i::before, .smc-btn-configurar-icotext-destaque > i::before, .smc-btn-confirmar-icotext-destaque > i::before, .smc-btn-copiar-icotext-destaque > i::before, .smc-btn-desfazer-icotext-destaque > i::before, .smc-btn-enviar-icotext-destaque > i::before, .smc-btn-fechar-icotext-destaque > i::before, .smc-btn-imprimir-icotext-destaque > i::before,
.smc-btn-limpar-icotext-destaque > i::before, .smc-btn-limparenviar-icotext-destaque > i::before, .smc-btn-novo-icotext-destaque > i::before, .smc-btn-pesquisar-icotext-destaque > i::before, .smc-btn-proximo-icotext-destaque > i::before, .smc-btn-sair-icotext-destaque > i::before, .smc-btn-salvar-icotext-destaque > i::before, .smc-btn-salvarnovo-icotext-destaque > i::before, .smc-btn-salvarsair-icotext-destaque > i::before, .smc-btn-visualizar-icotext-destaque > i::before, .smc-btn-voltar-icotext-destaque > i::before, .smc-btn-download-icotext-destaque > i::before,
.smc-lookup-open-command-text > i::before,
.smc-sortpicker-ordenar > i::before,
.smc-uploadFile-contextWindowControls > .smc-button > button > i::before,
.smc-btn-gerar-relatorio-icotext-destaque > i::before {
    font-size: 18px;
}

.smc-btn-alterar-icotext-destaque:hover, .smc-btn-anexar-icotext-destaque:hover, .smc-btn-anterior-icotext-destaque:hover, .smc-btn-atualizar-icotext-destaque:hover, .smc-btn-concluir-icotext-destaque:hover, .smc-btn-configurar-icotext-destaque:hover, .smc-btn-confirmar-icotext-destaque:hover, .smc-btn-copiar-icotext-destaque:hover, .smc-btn-desfazer-icotext-destaque:hover, .smc-btn-enviar-icotext-destaque:hover, .smc-btn-fechar-icotext-destaque:hover, .smc-btn-imprimir-icotext-destaque:hover,
.smc-btn-limpar-icotext-destaque:hover, .smc-btn-limparenviar-icotext-destaque:hover, .smc-btn-novo-icotext-destaque:hover, .smc-btn-pesquisar-icotext-destaque:hover, .smc-btn-proximo-icotext-destaque:hover, .smc-btn-sair-icotext-destaque:hover, .smc-btn-salvar-icotext-destaque:hover, .smc-btn-salvarnovo-icotext-destaque:hover, .smc-btn-salvarsair-icotext-destaque:hover, .smc-btn-visualizar-icotext-destaque:hover, .smc-btn-voltar-icotext-destaque:hover, .smc-btn-download-icotext-destaque:hover,
.smc-lookup-open-command-text:hover,
.smc-sortpicker-ordenar:hover,
.smc-uploadFile-contextWindowControls > .smc-button > button:hover,
.smc-btn-gerar-relatorio-icotext-destaque:hover {
    background-color: $smc-cor-principal-06;
    border: solid 1px $smc-cor-secundaria-01;
    color: $smc-cor-secundaria-01;
}

.smc-btn-alterar-icotext-destaque:focus, .smc-btn-anexar-icotext-destaque:focus, .smc-btn-anterior-icotext-destaque:focus, .smc-btn-atualizar-icotext-destaque:focus, .smc-btn-concluir-icotext-destaque:focus, .smc-btn-configurar-icotext-destaque:focus, .smc-btn-confirmar-icotext-destaque:focus, .smc-btn-copiar-icotext-destaque:focus, .smc-btn-desfazer-icotext-destaque:focus, .smc-btn-enviar-icotext-destaque:focus, .smc-btn-fechar-icotext-destaque:focus, .smc-btn-imprimir-icotext-destaque:focus,
.smc-btn-limpar-icotext-destaque:focus, .smc-btn-limparenviar-icotext-destaque:focus, .smc-btn-novo-icotext-destaque:focus, .smc-btn-pesquisar-icotext-destaque:focus, .smc-btn-proximo-icotext-destaque:focus, .smc-btn-sair-icotext-destaque:focus, .smc-btn-salvar-icotext-destaque:focus, .smc-btn-salvarnovo-icotext-destaque:focus, .smc-btn-salvarsair-icotext-destaque:focus, .smc-btn-visualizar-icotext-destaque:focus, .smc-btn-voltar-icotext-destaque:focus, .smc-btn-download-icotext-destaque:focus,
.smc-lookup-open-command-text:focus,
.smc-sortpicker-ordenar:focus,
.smc-uploadFile-contextWindowControls > .smc-button > button:focus,
.smc-btn-gerar-relatorio-icotext-destaque:focus {
    box-shadow: 2px 2px 2px rgba(179, 179, 179, 0.5);
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    -webkit-box-shadow: 2px 2px 2px rgba(179, 179, 179, 0.5);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 2px 2px 2px rgba(179, 179, 179, 0.5);
    /* Firefox 3.5 - 3.6 */
    color: $smc-branco;
}

.smc-buttonset-horizontal-secundario > .smc-button .smc-btn-alterar-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-anexar-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-anterior-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-atualizar-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-concluir-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-configurar-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-confirmar-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-desfazer-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-enviar-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-fechar-ico,
.smc-buttonset-horizontal-secundario > .smc-button .smc-btn-imprimir-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-limpar-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-limparenviar-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-novo-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-pesquisar-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-proximo-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-sair-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-salvar-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-salvarnovo-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-salvarsair-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-visualizar-ico, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-voltar-ico,
.smc-buttonset-horizontal-secundario > .smc-button .smc-btn-ico-pdf, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-ico-excel, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-ico-atualiza-grid, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-ico-ajuda, .smc-buttonset-horizontal-secundario > .smc-button .smc-btn-orderby-ico,
.smc-buttonset-horizontal-secundario > .smc-button .smc-dropdown-btn-toggle-config,
.smc-buttonset-horizontal-secundario > .smc-button .smc-btn-restaurar-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-alterar-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-anexar-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-anterior-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-atualizar-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-concluir-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-configurar-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-confirmar-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-desfazer-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-enviar-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-fechar-ico,
.smc-buttonset-vertical-secundario > .smc-button .smc-btn-imprimir-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-limpar-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-limparenviar-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-novo-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-pesquisar-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-proximo-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-sair-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-salvar-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-salvarnovo-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-salvarsair-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-visualizar-ico, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-voltar-ico,
.smc-buttonset-vertical-secundario > .smc-button .smc-btn-ico-pdf, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-ico-excel, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-ico-atualiza-grid, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-ico-ajuda, .smc-buttonset-vertical-secundario > .smc-button .smc-btn-orderby-ico,
.smc-buttonset-vertical-secundario > .smc-button .smc-dropdown-btn-toggle-config,
.smc-buttonset-vertical-secundario > .smc-button .smc-btn-restaurar-ico {
    width: 25px;
    height: 23px;
    padding: 0 0 3px 5px;
}

.smc-sga-mensagem {
    padding: 9px 10px 0 0;
    min-height: 47px;
    margin: 10px 0 10px 0;

    &::before {
        font-family: FontAwesome;
        font-size: 36px;
        float: left;
        margin: 14px 0 0 8px;
        // position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    label, p, ul {
        margin-left: 50px !important;
        margin-top: 5px;
        font-size: 13px;
    }
}

@mixin coresdasmensagens($smc-mensagem-cor-background, $smc-mensagem-cor-texto, $smc-mensagem-cor-borda, $smc-mensagem-cor-icone, $smc-mensagem-cor-texto-1) {
    background: $smc-mensagem-cor-background;
    color: $smc-mensagem-cor-texto;
    border: solid 2px $smc-mensagem-cor-borda;

    &::before {
        color: $smc-mensagem-cor-icone;
    }

    label, p {
        color: $smc-mensagem-cor-texto-1 !important;
        font-family: 'segoe_uiregular',Arial,sans-serif;
    }
}

.smc-sga-mensagem-informativa {
    @include coresdasmensagens($smc-mensagem-informa-cor-background,$smc-mensagem-informa-cor-texto,$smc-mensagem-informa-cor-borda,$smc-mensagem-informa-cor-borda,$smc-mensagem-informa-cor-texto);

    &::before {
        content: "";
    }
}

.smc-sga-mensagem-alerta {
    @include coresdasmensagens($smc-mensagem-aviso-cor-background,$smc-mensagem-aviso-cor-texto,$smc-mensagem-aviso-cor-borda,$smc-mensagem-aviso-cor-borda,$smc-mensagem-aviso-cor-texto);

    &::before {
        content: "";
    }
}

.smc-sga-mensagem-sucesso {
    @include coresdasmensagens($smc-mensagem-sucesso-cor-background,$smc-mensagem-sucesso-cor-texto,$smc-mensagem-sucesso-cor-borda,$smc-mensagem-sucesso-cor-borda,$smc-mensagem-sucesso-cor-texto);

    &::before {
        content: "";
    }
}

.smc-sga-mensagem-erro {
    @include coresdasmensagens($smc-mensagem-erro-cor-background,$smc-mensagem-erro-cor-texto,$smc-mensagem-erro-cor-borda,$smc-mensagem-erro-cor-borda,$smc-mensagem-erro-cor-texto);

    &::before {
        content: "";
    }
}


//*****RESPONSIVIDADE*****//
//responsivisando apenas elementos nas telas de adesão de bolsa//
//SM

@media screen and (min-width: 768px) and (max-width: 992px){ 


    //btn aderir ( tela adesão bolsa )
    .smc-sga-btn-aderir {
        width: 100% !important;
        height: 70px !important;
        font-size: 25px !important;
        margin-top: 35px !important;
        //background-color: green;
    }

    //table adesão ( tela adesão bolsa)
    .smc-sga-table-adesao tbody tr td span,
    .smc-sga-table-adesao tbody tr td p,
    .smc-sga-table-adesao tbody tr td font {
        font-size: 12px !important;
       // background-color: green;
    }
}

//XS
@media screen and (min-width: 480px) and (max-width: 767px) {

    //btn aderir ( tela adesão bolsa )
    .smc-sga-btn-aderir {
        width: 100% !important;
        height: 70px !important;
        font-size: 25px !important;
        margin-top: 35px !important;
        //background-color: red;
    }

    //table adesão ( tela adesão bolsa)
    .smc-sga-table-adesao tbody tr td span,
    .smc-sga-table-adesao tbody tr td p,
    .smc-sga-table-adesao tbody tr td font {
        font-size: 12px !important;
        //background-color: red;
    }
}

@media screen and (min-width: 100px) and (max-width: 479px) {
    
    //btn aderir ( tela adesão bolsa )
    .smc-sga-btn-aderir {
        width: 100% !important;
        height: 70px !important;
        font-size: 25px !important;
        margin-top: 35px !important;
       // background-color: yellow;
    }

    //table adesão ( tela adesão bolsa)
    .smc-sga-table-adesao tbody tr td span,
    .smc-sga-table-adesao tbody tr td p,
    .smc-sga-table-adesao tbody tr td font {
        font-size: 12px !important;
       // background-color: yellow;
    }
}