// As importações devem ocorrer NECESSARIAMENTE nesta ordem

// ********** ----- IDENTIDADE VISUAL (APLICAÇÃO) ----- ********** //
@import "identidade/_smc-identidade-visual-matricula.scss";


// ********** ----- Recursos compatilhados ------ ********** //
@import "../../Content/Css/smc-recursos.scss";

// ********** ----- ESTILO CUSTOMIZADO (APLICAÇÃO) ----- ********** //
@import "smc-estilo-matricula.scss";