@using SMC.Academico.Common.Areas.SRC.Enums
@using SMC.DadosMestres.Common.Areas.PES.Enums
@using SMC.SGA.Administrativo.Areas.SRC.Views.SolicitacaoServico.App_LocalResources
@using SMC.SGA.Administrativo.Areas.SRC.Controllers

@using (Smc.Div("SituacaoDocumentacao").Size(SMCSize.Grid18_24).Begin())
{
    <p class="smc-sga-titulo-legenda">@Smc.GetUIResource(UIResource.Titulo_Legenda_SituacaoDocumentacao)</p>
    @(Smc.Legend("SituacaoDocumentacao", SMCOrientation.Horizontal).Items<SituacaoDocumentacao>())
}

@using (Smc.Div("PossuiBloqueio").Size(SMCSize.Grid6_24).Begin())
{
    <p class="smc-sga-titulo-legenda"> @Smc.GetUIResource(UIResource.Titulo_Legenda_PossuiBloqueio)</p>
    @(Smc.Legend("PossuiBloqueio", SMCOrientation.Horizontal).Items<PossuiBloqueio>())
}

@using (Smc.Div().Size(SMCSize.Grid24_24)
    .ConditionalDisplay("TipoFiltroCentralSolicitacao", SMCConditionalOperation.Equals, TipoFiltroCentralSolicitacao.EtapaSituacaoAtualSolicitacao, TipoFiltroCentralSolicitacao.SituacaoEtapaSelecionada)
    .Dependency(name: "TipoFiltroCentralSolicitacao", action: "PreencherMensagemListaSolicitacaoServico", controller: "SolicitacaoServico", required: true)
    .CssClass("smc-sga-mensagem smc-sga-mensagem-informativa").Begin())
{

}