<div class="smc-size-lg-2 smc-size-md-2">
  <div class="smc-display">
    <label>CH grade</label>
    <p>{{ dados?.cargaHorariaGrade }}</p>
  </div>
</div>
<div class="smc-size-lg-2 smc-size-md-2">
  <div class="smc-display">
    <label>CH lançada</label>
    <p>{{ dados?.cargaHorariaLancada }}</p>
  </div>
</div>
<div class="smc-size-lg-3 smc-size-md-3">
  <div class="smc-display">
    <label>Data início aulas</label>
    <p>{{ dados?.inicioPeriodoLetivo }}</p>
  </div>
</div>
<div class="smc-size-lg-3 smc-size-md-3">
  <div class="smc-display">
    <label>Data fim aulas </label>
    <p>{{ dados?.fimPeriodoLetivo }}</p>
  </div>
</div>
<div class="smc-size-lg-4 smc-size-md-4">
  <div class="smc-display">
    <label>Distribuição aulas</label>
    <p>{{ dados?.tipoDistribuicaoAula }}</p>
  </div>
</div>
<div class="smc-size-lg-3 smc-size-md-3">
  <div class="smc-display">
    <label>Aula aos sábados</label>
    <p>{{ dados?.aulaSabado | boolean }}</p>
  </div>
</div>
<div class="smc-size-lg-3 smc-size-md-3">
  <div class="smc-display">
    <label>Pula feriado</label>
    <p>{{ dados?.tipoPulaFeriado }}</p>
  </div>
</div>
<div class="smc-size-lg-4 smc-size-md-4">
  <div class="smc-display">
    <label>Tabela horário</label>
    <p>{{dados?.dscTabelaHorario}}</p>
  </div>
</div>
