@model string

@using (Smc.Div().Begin())
{
    using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-display smc-sga-mensagem smc-sga-mensagem-informativa smc-sga-mensagem-multiplas-linhas").Begin())
    {
        using (Smc.Div().CssClass(" smc-sga-ico-mensagem").Begin())
        { }

        <p>@Model</p>
    }
}