@model SMCPagerModel<GrupoDocumentoRequeridoListarViewModel>

@if (Model.Any())
{
    @(Smc.List("GrupoDocumentos", Model)
       .HtmlTemplate(item => @Html.Partial("_DetailListItem", item)))
}
else
{
    using (Smc.Div().Size(SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24).Begin())
    {
        <span class="smc-datagrid-no-results">Nenhum registro encontrado</span>
    }
}
