@*@using (Smc.Div().Size(SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24).CssClass("smc-sga-mensagem smc-sga-mensagem-informativa").Begin())
{
    <p>@Smc.GetUIResource("Mensagem_Formacao_Especifica")</p>
}*@

<div class="smc-size-md-24 smc-size-xs-24 smc-size-sm-24 smc-size-lg-24" data-type="smc-div" id="divLegenda" data-configurated="true">
    <p class="smc-sga-titulo-legenda">Situação da formação específica</p>
    <div class="smc-legend-box smc-legend-orientation-horizontal" data-type="smc-legend">
        <ul class="smc-legend-content">
            <li class="smc-legend-content-title" data-type="smc-legend-title"><span>SituacaoDocumentacao_Legenda_Titulo</span></li>
            <li class="smc-legenda-treeview-inativa" data-type="smc-legend-item">
                <span title="Inativa">Inativa</span>
            </li>
            <li class="smc-legenda-treeview-nao-associada" data-type="smc-legend-item">
                <span title="Não associada">Não associada</span>
            </li>
        </ul>
    </div>
</div>