// As importações devem ocorrer NECESSARIAMENTE nesta ordem

// ********** ----- IDENTIDADE VISUAL (APLICAÇÃO) ----- ********** //
@import "identidade/_smc-identidade-visual.scss";


// ********** ----- Recursos compatilhados ------ ********** //
@import "./angular/smc-angular.scss";
@import "./angular/smc-estilo-base.scss";
@import "../../Content/Css/smc-recursos.scss";


// ********** ----- ESTILO CUSTOMIZADO (APLICAÇÃO) ----- ********** //
@import "smc-estilo.scss";
@import "acessibilidade/smc-acessibilidade-2.0.scss";

/*@import "smc-megamenu.css";*/