<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SantanderProduction" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SantanderCertificate" value="E:\Aplicativos\Sistemas\Financeiro.WebApi\Areas\Certificado\PC20230913314447.pfx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WebDavAmbiente" value="\\bhzdpdsrv14\webdav$" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WebDavBoletoPDF" value="\\bhzdpdsrv14\webdav$\sistemas\fin\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="UrlSautinsoft" value="https://web.sistemas.pucminas.br/Sautinsoft.WebApi/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>