<context-menu #menubasico>
  <ng-template *ngIf="!(carregandoDataSource$ | async)" contextMenuItem (execute)="abriModalAgendamentoReduzido($event)"
    >Agendamento Aula Complementar</ng-template
  >
  <ng-template *ngIf="carregandoDataSource$ | async" contextMenuItem>Processando...</ng-template>
</context-menu>

<ng-template #templateDivisaoTurma let-day="day">
  <div class="fill-height" (click)="onContextMenu($event, day.date)">
    <div class="cal-cell-top">
      <span class="cal-day-number">
        {{ day.date | date: "dd" }}
      </span>
    </div>
    <div class="smc-sga-calendario-agendamento-dia">
      <ng-container *ngFor="let event of day.events">
        <ng-container *ngIf="event.meta?.feriado && event?.allDay; then eventoFeriado"> </ng-container>
        <ng-template #eventoFeriado>
          <div class="smc-sga-calendario-agendamento {{ event.meta.cor }}" p-tooltip="{{ event.title }}">
            <span>
              {{ event.title }}
            </span>
          </div>
        </ng-template>
      </ng-container>
      <ng-container *ngFor="let event of day.events">
        <ng-container *ngIf="!event?.allDay && !event.meta?.processando; then eventoNormal"> </ng-container>
        <ng-template #eventoNormal>
          <div
            (click)="visualizarEvento(event.meta.seq, event.meta.seqDivisaoTurma)"
            class="smc-sga-calendario-agendamento {{ event.meta.cor }}"
            p-tooltip="{{ event.start | date: 'shortTime' }} - {{ event.end | date: 'shortTime' }}"
          >
            <span>
              {{ event.title }}
            </span>
          </div>
        </ng-template>
      </ng-container>
      <ng-container *ngFor="let event of day.events">
        <ng-container *ngIf="event.meta?.processando; then eventoProcessando"> </ng-container>
        <ng-template #eventoProcessando>
          <div class="smc-sga-calendario-agendamento {{ event.meta.cor }}" p-tooltip="Processando...">
            <span>
              {{ event.title }}
            </span>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #dayHourSegmentTemplate let-segment="segment" let-segmentHeight="segmentHeight">
  <div
    class="cal-hour-segment"
    [style.height.px]="200"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass"
    (click)="onContextMenu($event, segment.date)"
  >
    <div class="cal-time">
      {{ segment.date | date: "shortTime" }}
    </div>
  </div>
</ng-template>

<ng-template
  #weekHourSegmentTemplate
  let-segment="segment"
  let-segmentHeight="segmentHeight"
  let-isTimeLabel="isTimeLabel"
>
  <div
    class="cal-hour-segment"
    [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass"
    (click)="onContextMenu($event, segment.date)"
  >
    <div class="cal-time" *ngIf="isTimeLabel">
      {{ segment.date | date: "shortTime" }}
    </div>
  </div>
</ng-template>

<ng-template #dayEventTemplate let-weekEvent="weekEvent">
  <div
    *ngIf="weekEvent.event.meta.visivel && !weekEvent.event.meta?.menuNovoAtivo"
    (click)="visualizarEvento(weekEvent.event.meta.seq, weekEvent.event.meta.seqDivisaoTurma)"
    class="smc-sga-calendario-agendamento {{ weekEvent.event.meta.cor }}"
  >
    <span class="cal-event-title ng-star-inserted" aria-hidden="true">{{ weekEvent.event.title }}</span>
  </div>
  <div
    *ngIf="weekEvent.event.meta?.menuNovoAtivo"
    class="smc-sga-calendario-agendamento {{ weekEvent.event.meta.cor }}"
    p-tooltip="{{ weekEvent.event.title }}"
  >
    <span class="cal-event-title ng-star-inserted" aria-hidden="true">{{ weekEvent.event.title }}</span>
  </div>
</ng-template>

<ng-template #semMarcador></ng-template>

<smc-calendar
  [events]="listaEventos"
  [s-cell-template]="templateDivisaoTurma"
  [s-day-hour-segment-template]="dayHourSegmentTemplate"
  [s-week-hour-segment-template]="weekHourSegmentTemplate"
  [s-day-event-template]="dayEventTemplate"
  [s-week-event-template]="dayEventTemplate"
  [s-week-current-time-marker-template]="semMarcador"
  [s-default-view]="visaoPadrao"
  (s-before-view-render-month)="destacarFeriadosMes($event)"
  (s-before-view-render-week)="destacarFeriadosSemana($event)"
  (s-before-view-render-day)="destacarFeriadosDia($event)"
  class="smc-size-md-19 smc-size-lg-19"
>
</smc-calendar>
