<div class="smc-list">
  <div class="smc-list-cabecalho-topo">
    <div class="smc-buttonset-horizontal-primario smc-lista-detalhada-botoes-topo"></div>
  </div>
  <div class="smc-list-conteudo">
    <ul>
      <li class="smc-list-item">
        <div class="smc-size-md-24">
          <div class="smc-size-md-24 smc-size-xs-24 smc-size-sm-24 smc-size-lg-24 smc-listdetailed-item">
            <div class="smc-size-md-23 smc-size-xs-24 smc-size-sm-24 smc-size-lg-23 smc-listdetailed-conteudo">
              <div class="smc-size-md-24 smc-size-xs-24 smc-size-sm-24 smc-size-lg-24 smc-listdetailed-header-conteudo">
                <div class="smc-size-md-4 smc-size-xs-24 smc-size-sm-12 smc-size-lg-4">
                  <div class="smc-display">
                    <label>Ciclo letivo</label>
                    <p>2/2021</p>
                  </div>
                </div>
                <div class="smc-size-md-10 smc-size-xs-24 smc-size-sm-12 smc-size-lg-10">
                  <div class="smc-display">
                    <label>Entidade responsável</label>
                    <p>Programa de Pós-graduação em odontologia</p>
                  </div>
                </div>
                <div class="smc-size-md-10 smc-size-xs-24 smc-size-sm-12 smc-size-lg-10">
                  <div class="smc-display">
                    <label>Descrição</label>
                    <p>Compartilhamento de labóratorio de odontologia</p>
                  </div>
                </div>
              </div>
              <div
                class="
                  smc-size-md-24
                  smc-size-xs-24
                  smc-size-sm-24
                  smc-size-lg-24
                  smc-listdetailed-conteudo-lista-item-destaque
                "
              >
                <label class="smc-listdetailed-conteudo-subtitulo">Divisões que compartilham grade</label>
                <div class="smc-grid">
                  <div class="smc-datagrid">
                    <div class="smc-size-md-24 smc-size-xs-24 smc-size-sm-12 smc-size-lg-24">
                      <div class="smc-display">
                        <p>
                          4.1.1.000 - TÓPICOS ESPECIAIS - Presencial : Banco de Dados Geográficos - 30 Horas - 2
                          Créditos - GEO
                        </p>
                      </div>
                      <div class="smc-display">
                        <p>
                          7.1.1.000 - TÓPICOS ESPECIAIS - Presencial : Processos Geofísicos e Geoquímicos Aplicados - 30
                          Horas - 2 Créditos - GEO
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="smc-buttonset-vertical-secundario smc-size-md-1 smc-size-xs-2 smc-size-sm-2 smc-size-lg-1">
              <div class="smc-button">
                <a
                  class="smc-btn-alterar-ico"
                  data-behavior="smc-behavior-alterar"
                  data-type="smc-button-element"
                  data-url="/Dev/SGA.Administrativo/ORT/Orientacao/Editar?seq=211B725FCB4A7DB6"
                  href="/Dev/SGA.Administrativo/ORT/Orientacao/Editar?seq=211B725FCB4A7DB6"
                  id="DetailListBotaoAlterar0"
                  title="Alterar"
                  ><i></i>Alterar</a
                >
              </div>
              <div class="smc-button">
                <a
                  class="smc-btn-excluir-ico"
                  data-behavior="smc-behavior-excluir"
                  data-confirm-focusedbutton="s"
                  data-confirm-message='Confirma a exclusão da orientação do(s) aluno(s) "Marcelle Gonçalves Primo"?'
                  data-confirm-title="Excluir Orientação"
                  data-type="smc-button-element"
                  data-url="/Dev/SGA.Administrativo/ORT/Orientacao/Excluir?Seq=211B725FCB4A7DB6"
                  href="/Dev/SGA.Administrativo/ORT/Orientacao/Excluir?Seq=211B725FCB4A7DB6"
                  id="DetailedListBotaoItem0"
                  title="Excluir"
                  data-confirm-configurated="true"
                  ><i></i>Excluir</a
                >
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
