<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <!--PARAMETROS FINANCEIROS-->
    <add key="SantanderProduction" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlReciboCartao" value="http://sistemas.pucminas.br/gra/SilverStream/Pages/pgExibeRecibo.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <!-- Informações para arquivos de teses do BDP/>-->
    <add key="DiretorioTeses" value="\\GTIBIBPROD02\teses$" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlDownloadTeses" value="https://bib.pucminas.br/teses/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Informações para avaliação PPA />-->
    <add key="UrlAvaliacaoCpa" value="https://www.sistemas.pucminas.br/ppa/SilverStream/Pages/pgCPA_EntradaPorAmostra.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlAvaliacaoSemestralCpa" value="https://www.sistemas.pucminas.br/sgaaluno4/SilverStream/Pages/pgAln_LoginToken.html?login={0}&amp;token={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="MiniProfilerDbStorage" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="MiniProfilerPopupStartVisible" xdt:Transform="Remove" xdt:Locator="Match(key)"/>

    <!-- URLs integração INTR e SGA legado -->
    <add key="UrlTermoCiencia" value="https://www.sistemas.pucminas.br/intr/SilverStream/Pages/pgCAD_TermoCiencia.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UrlQuestionarioSurveyMonkey" value="https://www.sistemas.pucminas.br/sga4/SilverStream/Pages/pgQuestSurveyMonkey.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Informações para integração com o gestão x -->
    <add key="UrlGestaoXChamados" value="https://web.sistemas.pucminas.br/CSC/CSC/Chamado/Index" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Informações para chamada da consulta pública de diploma -->
    <add key="UrlConsultaPublica" value="http://web.sistemas.pucminas.br/SGA.Administrativo/CNC/ConsultaPublica/Index" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

	<add key="UrlCrystalLegado" value="https://was.sistemas.pucminas.br/Generico/RelatorioGenerico.jsp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <smc.rest xdt:Transform="Replace">
    <apis>
      <api name="AlunoReport" url="http://srv.pucminas.br/Academico.ReportHost/v4/ALN/Report"/>
      <api name="ComprovanteMatriculaReport" url="http://srv.pucminas.br/Academico.ReportHost/v4/MAT/api/ComprovanteMatriculaApi"/>
      <api name="ComprovanteProcessoReport" url="http://srv.pucminas.br/Academico.ReportHost/v4/SRC/api/ComprovanteProcessoApi"/>
      <api name="DeclaracaoPagamentoReport" url="http://srv.pucminas.br/Academico.ReportHost/v4/FIN/api/DeclaracaoPagamentoApi"/>
      <api name="QuestionarioRapidoPPA" url="http://web.sistemas.pucminas.br/AvaliacaoPermanente.WebAPI/api/QST/QuestionarioRapido" />
      <api name="SuporteTecnicoChamados" url="http://localhost/GestaoX.WebApi/api/v1/Chamado" />
      <api name="DiplomaGAD" url="http://localhost/AssinaturaDigital.WebApi/api/Diploma" />
      <api name="HistoricoGAD" url="http://localhost/AssinaturaDigital.WebApi/api/HistoricoEscolar" />
	  <api name="CurriculoGAD" url="http://localhost/AssinaturaDigital.WebApi/api/Curriculo" />
    </apis>
  </smc.rest>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="\\gtitfsbuild02\Logs\SGA.Aluno.Prd." xdt:Transform="Replace" />
    </appender>
  </log4net>

</configuration>