<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:asmv1="urn:schemas-microsoft-com:asm.v1">

  <appSettings>
    <!--PARAMETROS FINANCEIROS-->
    <add key="SantanderCertificate" value="E:\Aplicativos\Sistemas\Financeiro.WebApi\Areas\Certificado\PC20230913314447.pfx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SantanderProduction" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UrlReciboCartao" value="http://qualidade.pucminas.br/gra/SilverStream/Pages/pgExibeRecibo.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BaseUrlRest" value="http://localhost:8801/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="Replace" mode="On" defaultRedirect="~/Home/SMCError" />
  </system.web>

  <system.serviceModel>
    <client xdt:Transform="Replace">
      <!-- Endpoint Office -->
      <endpoint name="SMC.Framework.Service.ISMCReportMergeService" address="net.pipe://localhost/Office/v4/OfficePDFAService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Service.ISMCReportMergeService"/>
      <!--<endpoint name="SMC.Framework.Service.ISMCReportMergeService" address="net.pipe://localhost/Office/v4/OfficeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Service.ISMCReportMergeService" />-->

      <!-- Endpoint para DadosMestres -->
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" address="net.pipe://localhost/DadosMestres/v4/IntegracaoDadoMestreService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" />
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.ITipoDocumentoService" address="net.pipe://localhost/DadosMestres/v4/TipoDocumentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.ITipoDocumentoService" />

      <!-- Segurança para SMCAuthorize -->
      <endpoint name="SMC.Framework.Security.ISMCAuthorizationService" address="net.pipe://localhost/Seguranca/v4/AutorizacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Security.ISMCAuthorizationService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" address="net.pipe://localhost/Seguranca/v4/UsuarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" address="net.pipe://localhost/Seguranca/v4/AplicacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" address="net.pipe://localhost/Seguranca/v4/FuncionalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" />

      <!-- Endpoint para Infraestrutura -->
      <endpoint name="SMC.Infraestrutura.ServiceContract.Areas.EML.Interfaces.IEmailService" address="net.pipe://localhost/Infraestrutura/v4/EmailService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Infraestrutura.ServiceContract.Areas.EML.Interfaces.IEmailService" />
      <endpoint name="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService" address="net.pipe://localhost/Infraestrutura/v4/PdfService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService" />

      <!-- Serviço para Filtro de dados (SEGURANCA) -->
      <endpoint name="SMC.Framework.DataFilters.ISMCDataFilterService" address="net.pipe://localhost/Seguranca/v4/DataFilterService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.DataFilters.ISMCDataFilterService" />

      <!-- Serviço para Estrutura Organizacional -->
      <endpoint name="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" address="net.pipe://localhost/EstruturaOrganizacional/v4/EstruturaOrganizacionalService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" />

      <!-- Endpoint para Monitoramento -->
      <endpoint address="net.msmq://localhost/private/smc.seguranca.navegacao" binding="netMsmqBinding" contract="SMC.Framework.Service.Messaging.ISMCMessageQueueService" name="SMC.Seguranca.Monitoramento" />

      <!-- Endpoint para Localidade -->
      <endpoint name="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" address="net.pipe://localhost/Localidades/v4/LocalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" />

      <!-- Endpoint para Formularios -->
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITipoTemplateProcessoService" address="net.pipe://localhost/Formularios/v4/TipoTemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITipoTemplateProcessoService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" address="net.pipe://localhost/Formularios/v4/FormularioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" address="net.pipe://localhost/Formularios/v4/EtapaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" address="net.pipe://localhost/Formularios/v4/SituacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" address="net.pipe://localhost/Formularios/v4/TemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IPaginaService" address="net.pipe://localhost/Formularios/v4/PaginaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IPaginaService"/>

      <!-- Endpoint para AGD (calendários) -->
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IUnidadeResponsavelService" address="net.pipe://localhost/Calendarios/v4/UnidadeResponsavelService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IUnidadeResponsavelService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoEventoService" address="net.pipe://localhost/Calendarios/v4/TipoEventoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoEventoService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IAgendaService" address="net.pipe://localhost/Calendarios/v4/AgendaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IAgendaService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ICalendarioService" address="net.pipe://localhost/Calendarios/v4/CalendarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ICalendarioService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoCalendarioService" address="net.pipe://localhost/Calendarios/v4/TipoCalendarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoCalendarioService" />

      <!-- Endpoint para o Integração Financeiro -->
      <endpoint name="SMC.Financeiro.ServiceContract.BLT.IIntegracaoFinanceiroService" address="net.pipe://localhost/Financeiro/v4/IntegracaoFinanceiroService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Financeiro.ServiceContract.BLT.IIntegracaoFinanceiroService" />

      <!-- Endpoint para o Integração Acadêmico -->
      <endpoint name="SMC.IntegracaoAcademico.ServiceContract.Areas.IAC.Interfaces.IIntegracaoAcademicoService" address="net.pipe://localhost/IntegracaoAcademico/v4/IntegracaoAcademicoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.IntegracaoAcademico.ServiceContract.Areas.IAC.Interfaces.IIntegracaoAcademicoService" />

      <!-- Endpoint para o Notificações -->
      <endpoint name="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" address="net.pipe://localhost/Notificacoes/v4/NotificacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" />

      <!-- Endpoint para o Avaliação Permanente -->
      <endpoint name="SMC.AvaliacaoPermanente.ServiceContract.Areas.QST.Interfaces.IAmostraService" address="net.pipe://localhost/AvaliacaoPermanente/v4/AmostraService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AvaliacaoPermanente.ServiceContract.Areas.QST.Interfaces.IAmostraService" />
            
      <endpoint address="https://ymbdlb.santander.com.br:443/dl-ticket-services/TicketEndpointService" binding="basicHttpBinding" bindingConfiguration="TicketEndpointPortBinding" contract="SantanderTicket.TicketEndpoint" name="TicketEndpointPort" />
      <endpoint address="https://ymbcash.santander.com.br:443/ymbsrv/CobrancaEndpointService" binding="basicHttpBinding" bindingConfiguration="CobrancaEndpointPortBinding" contract="SantanderCobranca.CobrancaEndpoint" name="CobrancaEndpointPort" />

      <endpoint name="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService" address="net.pipe://localhost/Pessoas/v4/PessoaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService" />

      <endpoint name="SMC.Google.Service.ADM.IGoogleService" address="net.pipe://localhost/Google/v4/GoogleService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Google.Service.ADM.IGoogleService" />
    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.IO.Compression')" />
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http')" />
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http.Formatting')" />
    </assemblyBinding>
  </runtime>
</configuration>