<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <!-- Informações para avaliação PPA />-->
    <add key="UrlAvaliacaoCpa" value="http://qualidade.pucminas.br/ppa/SilverStream/Pages/pgCPA_EntradaPorAmostra.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlAvaliacaoSemestralCpa" value="http://qualidade.pucminas.br/sgaaluno4/SilverStream/Pages/pgAln_LoginToken.html?login={0}&amp;token={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Informações para chamada do termo de ciência />-->
    <add key="UrlTermoCiencia" value="http://qualidade.pucminas.br/intr/SilverStream/Pages/pgCAD_TermoCiencia.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Informações para chamada CSC />-->
    <add key="UrlGestaoXChamados" value="https://web-qualidade.pucminas.br/CSC/CSC/Chamado/Index" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Informações para chamada da consulta pública de diploma -->
    <add key="UrlConsultaPublica" value="https://web-qualidade.pucminas.br/SGA.Administrativo/CNC/ConsultaPublica" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

	<!-- Informações para chamada do questionário />-->
	<add key="UrlQuestionarioSurveyMonkey" value="http://qualidade.pucminas.br/sga4/SilverStream/Pages/pgQuestSurveyMonkey.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

	<add key="UrlCrystalLegado" value="http://crystal.homologacao.pucminas.br:8080/Generico/RelatorioGenerico.jsp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <smc.rest xdt:Transform="Replace">
    <apis>
      <api name="AlunoReport" url="http://gtiwebqua01/Academico.ReportHost/v4/ALN/Report"/>
      <api name="ComprovanteMatriculaReport" url="http://gtiwebhom02/Academico.ReportHost/v4/MAT/api/ComprovanteMatriculaApi"/>
      <api name="ComprovanteProcessoReport" url="http://gtiwebhom02/Academico.ReportHost/v4/SRC/api/ComprovanteProcessoApi"/>
      <api name="DeclaracaoPagamentoReport" url="http://gtiwebhom02/Academico.ReportHost/v4/FIN/api/DeclaracaoPagamentoApi"/>
      <api name="QuestionarioRapidoPPA" url="http://web-qualidade.pucminas.br/AvaliacaoPermanente.WebAPI/api/QST/QuestionarioRapido" />
      <api name="SuporteTecnicoChamados" url="http://localhost/GestaoX.WebApi/api/v1/Chamado" />
      <api name="DiplomaGAD" url="http://localhost/AssinaturaDigital.WebApi/api/Diploma" />
      <api name="HistoricoGAD" url="http://localhost/AssinaturaDigital.WebApi/api/HistoricoEscolar" />
	  <api name="CurriculoGAD" url="http://localhost/AssinaturaDigital.WebApi/api/Curriculo" />
    </apis>
  </smc.rest>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="\\gtitfsbuild02\Logs\SGA.Aluno.Qua." xdt:Transform="Replace" />
    </appender>
  </log4net>

  <system.web>
    <customErrors mode="Off" xdt:Transform="SetAttributes"/>
  </system.web>

</configuration>