<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:asmv1="urn:schemas-microsoft-com:asm.v1">

  <appSettings>
    <!--PARAMETROS FINANCEIROS-->
    <add key="SantanderCertificate" value="E:\Aplicativos\Sistemas\Financeiro.WebApi\Areas\Certificado\PC20230913314447.pfx"
           xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SantanderProduction" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BaseUrlRest" value="http://localhost:8801/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)"/>
    <customErrors xdt:Transform="Replace" mode="On" defaultRedirect="~/Home/SMCError"/>
  </system.web>

  <system.serviceModel>
    <client xdt:Transform="Replace">
      <!-- Segurança para SMCAuthorize -->
      <endpoint name="SMC.Framework.Security.ISMCAuthorizationService" address="net.pipe://localhost/Seguranca/v4/AutorizacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Security.ISMCAuthorizationService"/>
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" address="net.pipe://localhost/Seguranca/v4/UsuarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService"/>
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" address="net.pipe://localhost/Seguranca/v4/AplicacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService"/>
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.PER.Interfaces.IPerfilService" address="net.pipe://localhost/Seguranca/v4/PerfilService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.PER.Interfaces.IPerfilService"/>
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" address="net.pipe://localhost/Seguranca/v4/FuncionalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService"/>

      <!-- Endpoint para Infraestrutura -->
      <endpoint name="SMC.Infraestrutura.ServiceContract.Areas.EML.Interfaces.IEmailService" address="net.pipe://localhost/Infraestrutura/v4/EmailService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Infraestrutura.ServiceContract.Areas.EML.Interfaces.IEmailService"/>
      <endpoint name="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService" address="net.pipe://localhost/Infraestrutura/v4/PdfService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService"/>
      <endpoint name="SMC.Framework.OpenXml.ISMCWorkbookService" address="net.pipe://localhost/Office/v4/OpenXMLService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.OpenXml.ISMCWorkbookService"/>
      <endpoint name="SMC.Framework.Service.ISMCReportMergeService" address="net.pipe://localhost/Office/v4/OfficePDFAService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Service.ISMCReportMergeService"/>

      <!-- Serviço para Filtro de dados (SEGURANCA) -->
      <endpoint name="SMC.Framework.DataFilters.ISMCDataFilterService" address="net.pipe://localhost/Seguranca/v4/DataFilterService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.DataFilters.ISMCDataFilterService"/>

      <!-- Serviço para Estrutura Organizacional -->
      <endpoint name="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" address="net.pipe://localhost/EstruturaOrganizacional/v4/EstruturaOrganizacionalService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService"/>

      <!-- Endpoint para Monitoramento -->
      <endpoint address="net.msmq://localhost/private/smc.seguranca.navegacao" binding="netMsmqBinding" contract="SMC.Framework.Service.Messaging.ISMCMessageQueueService" name="SMC.Seguranca.Monitoramento"/>

      <!-- Endpoint para Localidade -->
      <endpoint name="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" address="net.pipe://localhost/Localidades/v4/LocalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService"/>

      <!-- Endpoint para Formularios -->
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITipoTemplateProcessoService" address="net.pipe://localhost/Formularios/v4/TipoTemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITipoTemplateProcessoService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" address="net.pipe://localhost/Formularios/v4/FormularioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService"/>
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" address="net.pipe://localhost/Formularios/v4/EtapaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService"/>
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IClasseTemplateProcessoService" address="net.pipe://localhost/Formularios/v4/ClasseTemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IClasseTemplateProcessoService"/>
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IPaginaService" address="net.pipe://localhost/Formularios/v4/PaginaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IPaginaService"/>
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" address="net.pipe://localhost/Formularios/v4/SituacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService"/>
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" address="net.pipe://localhost/Formularios/v4/TemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService"/>
      <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IUnidadeResponsavelService" address="net.pipe://localhost/Formularios/v4/UnidadeResponsavelService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IUnidadeResponsavelService"/>

      <!-- Endpoint para AGD (calendários) -->
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IUnidadeResponsavelService" address="net.pipe://localhost/Calendarios/v4/UnidadeResponsavelService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IUnidadeResponsavelService"/>
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoEventoService" address="net.pipe://localhost/Calendarios/v4/TipoEventoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoEventoService"/>
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IAgendaService" address="net.pipe://localhost/Calendarios/v4/AgendaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IAgendaService"/>
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ICalendarioService" address="net.pipe://localhost/Calendarios/v4/CalendarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ICalendarioService"/>
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoCalendarioService" address="net.pipe://localhost/Calendarios/v4/TipoCalendarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoCalendarioService"/>
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IHorarioService" address="net.pipe://localhost/Calendarios/v4/HorarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IHorarioService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITabelaHorarioService" address="net.pipe://localhost/Calendarios/v4/TabelaHorarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITabelaHorarioService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.ESF.Interfaces.ILocalSEFService" address="net.pipe://localhost/Calendarios/v4/LocalSEFService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.ESF.Interfaces.ILocalSEFService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IEventoService" address="net.pipe://localhost/Calendarios/v4/EventoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IEventoService" />

      <!-- Endpoints para GPI -->
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IProcessoService" address="net.pipe://localhost/Inscricoes/v4/ProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IProcessoService"/>
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.RES.Interfaces.IUnidadeResponsavelService" address="net.pipe://localhost/Inscricoes/v4/UnidadeResponsavelService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.RES.Interfaces.IUnidadeResponsavelService"/>
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.ITipoProcessoService" address="net.pipe://localhost/Inscricoes/v4/TipoProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.ITipoProcessoService"/>
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.ITipoItemHierarquiaOfertaService" address="net.pipe://localhost/Inscricoes/v4/TipoItemHierarquiaOfertaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.ITipoItemHierarquiaOfertaService"/>
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IIntegracaoService" address="net.pipe://localhost/Inscricoes/v4/IntegracaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IIntegracaoService"/>
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IEtapaProcessoService" address="net.pipe://localhost/Inscricoes/v4/EtapaProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IEtapaProcessoService"/>
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IInscricaoService" address="net.pipe://localhost/Inscricoes/v4/InscricaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IInscricaoService"/>
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IInscricaoOfertaHistoricoSituacaoService" address="net.pipe://localhost/Inscricoes/v4/InscricaoOfertaHistoricoSituacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IInscricaoOfertaHistoricoSituacaoService"/>
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IHierarquiaOfertaService" address="net.pipe://localhost/Inscricoes/v4/HierarquiaOfertaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IHierarquiaOfertaService"/>
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IItemHierarquiaOfertaService" address="net.pipe://localhost/Inscricoes/v4/ItemHierarquiaOfertaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IItemHierarquiaOfertaService" />

      <!-- Endpoint para o SAT -->
      <endpoint name="SMC.AgendadorTarefa.ServiceContract.Areas.ATS.Interfaces.IAgendamentoService" address="net.pipe://localhost/AgendadorTarefa/v4/AgendamentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AgendadorTarefa.ServiceContract.Areas.ATS.Interfaces.IAgendamentoService"/>
      <endpoint name="SMC.AgendadorTarefa.ServiceContract.Areas.ATS.Interfaces.IHistoricoAgendamentoService" address="net.pipe://localhost/AgendadorTarefa/v4/HistoricoAgendamentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AgendadorTarefa.ServiceContract.Areas.ATS.Interfaces.IHistoricoAgendamentoService"/>

      <!-- Endpoint para o Integração Financeiro (GRA) -->
      <endpoint name="SMC.Financeiro.ServiceContract.BLT.IIntegracaoFinanceiroService" address="net.pipe://localhost/Financeiro/v4/IntegracaoFinanceiroService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Financeiro.ServiceContract.BLT.IIntegracaoFinanceiroService"/>

      <!-- Endpoint para o Integração Acadêmico -->
      <endpoint name="SMC.IntegracaoAcademico.ServiceContract.Areas.IAC.Interfaces.IIntegracaoAcademicoService" address="net.pipe://localhost/IntegracaoAcademico/v4/IntegracaoAcademicoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.IntegracaoAcademico.ServiceContract.Areas.IAC.Interfaces.IIntegracaoAcademicoService"/>

      <!-- Endpoint para o Notificações -->
      <endpoint name="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" address="net.pipe://localhost/Notificacoes/v4/NotificacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService"/>

      <!-- Endpoint para DadosMestres -->
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" address="net.pipe://localhost/DadosMestres/v4/IntegracaoDadoMestreService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService"/>
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IContextoBibliotecaService" address="net.pipe://localhost/DadosMestres/v4/ContextoBibliotecaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IContextoBibliotecaService"/>
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IProcessoGedService" address="net.pipe://localhost/DadosMestres/v4/ProcessoGedService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IProcessoGedService"/>		                                                                                                                                                                                                                                                                
	  <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.ITipoDocumentoService" address="net.pipe://localhost/DadosMestres/v4/TipoDocumentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.ITipoDocumentoService"/>
	  <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IConfiguracaoProcessoGedService" address="net.pipe://localhost/DadosMestres/v4/ConfiguracaoProcessoGedService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IConfiguracaoProcessoGedService" />

	  <endpoint address="https://ymbdlb.santander.com.br:443/dl-ticket-services/TicketEndpointService" binding="basicHttpBinding" bindingConfiguration="TicketEndpointPortBinding" contract="SantanderTicket.TicketEndpoint" name="TicketEndpointPort"/>
      <endpoint address="https://ymbcash.santander.com.br:443/ymbsrv/CobrancaEndpointService" binding="basicHttpBinding" bindingConfiguration="CobrancaEndpointPortBinding" contract="SantanderCobranca.CobrancaEndpoint" name="CobrancaEndpointPort"/>

      <endpoint name="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService"
                address="net.pipe://localhost/Pessoas/v4/PessoaService.svc"
                binding="netNamedPipeBinding"
                bindingConfiguration="SMCNetPipeLarge"
                contract="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService"/>

      <!-- Endpoint para o Avaliação Permanente -->
      <endpoint name="SMC.AvaliacaoPermanente.ServiceContract.Areas.QST.Interfaces.IAmostraService"
                address="net.pipe://localhost/AvaliacaoPermanente/v4/AmostraService.svc"
                binding="netNamedPipeBinding"
                bindingConfiguration="SMCNetPipeLarge"
                contract="SMC.AvaliacaoPermanente.ServiceContract.Areas.QST.Interfaces.IAmostraService" />

      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoEtapaService"
                address="net.pipe://localhost/Formularios/v4/SituacaoEtapaService.svc"
                binding="netNamedPipeBinding"
                bindingConfiguration="SMCNetPipeLarge"
                contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoEtapaService" />

      <!-- Endpoint para Assinatura Digital -->
      <endpoint name="SMC.AssinaturaDigital.ServiceContract.Areas.DDG.Interfaces.IConfiguracaoDocumentoAcademicoService" address="net.pipe://localhost/AssinaturaDigital/v4/ConfiguracaoDocumentoAcademicoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AssinaturaDigital.ServiceContract.Areas.DDG.Interfaces.IConfiguracaoDocumentoAcademicoService" />
	  <endpoint name="SMC.AssinaturaDigital.ServiceContract.Areas.DOC.Interfaces.IConfiguracaoDocumentoService" address="net.pipe://localhost/AssinaturaDigital/v4/ConfiguracaoDocumentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AssinaturaDigital.ServiceContract.Areas.DOC.Interfaces.IConfiguracaoDocumentoService" />
	  <!-- Endpoint para Sistema Origem -->
      <endpoint name="SMC.AssinaturaDigital.ServiceContract.Areas.CAD.Interfaces.ISistemaOrigemService" address="net.pipe://localhost/AssinaturaDigital/v4/SistemaOrigemService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AssinaturaDigital.ServiceContract.Areas.CAD.Interfaces.ISistemaOrigemService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.IO.Compression')"/>
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http')"/>
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http.Formatting')"/>
    </assemblyBinding>
  </runtime>
</configuration>