<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <!-- URL do GAD -->
    <add key="UrlDocumentoGAD" value="https://web-desenvolvimento.pucminas.br/GAD/VisualizarDiploma" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlDeclaracaoGenericaGAD" value="https://web-desenvolvimento.pucminas.br/GAD/VisualizarDocumento/BuscarDadosDocumento" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Informações para Acesso página inicial da consulta publica -->
    <add key="UrlConsultaPublica" value="http://desenvolvimento.pucminas.br/sga4/SilverStream/Pages/pgSGA_ConsultaDiplomado.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Serviço Sautinsoft -->
    <add key="UrlSautinsoft" value="https://web-desenvolvimento.pucminas.br/Sautinsoft.WebApi/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <smc.rest xdt:Transform="Replace">
    <apis>
      <!-- APIs de report -->
      <api name="AlunoReport" url="http://gtiwebdes10/Academico.ReportHost/v4/ALN/api/ReportApi"/>
      <api name="AlunosPorComponenteReport" url="http://gtiwebdes10/Academico.ReportHost/v4/MAT/api/AlunosPorComponenteApi"/>
      <api name="AlunosPorSituacaoReport" url="http://gtiwebdes10/Academico.ReportHost/v4/MAT/api/AlunosPorSituacaoApi"/>
      <api name="BancaReport" url="http://gtiwebdes10/Academico.ReportHost/v4/APR/api/BancasAgendadasApi"/>
      <api name="BolsistasReport" url="http://gtiwebdes10/Academico.ReportHost/v4/FIN/api/BolsistasApi"/>
      <api name="ComprovanteMatriculaReport" url="http://gtiwebdes10/Academico.ReportHost/v4/MAT/api/ComprovanteMatriculaApi"/>
      <api name="ComprovanteProcessoReport" url="http://gtiwebdes10/Academico.ReportHost/v4/SRC/api/ComprovanteProcessoApi"/>
      <api name="ConsolidadoServicoCicloLetivoReport" url="http://gtiwebdes10/Academico.ReportHost/v4/SRC/api/ConsolidadoServicoCicloLetivoApi"/>
      <api name="ServicoReport" url="http://gtiwebdes10/Academico.ReportHost/v4/SRC/api/ServicoReportApi" />
      <api name="ConsolidadoSituacaoReport" url="http://gtiwebdes10/Academico.ReportHost/v4/MAT/api/ConsolidadoSituacaoApi"/>
      <api name="IdentidadeAcademicaReport" url="http://gtiwebdes10/Academico.ReportHost/v4/PES/api/IdentidadeAcademicaApi"/>
      <api name="ListaFrequenciaReport" url="http://gtiwebdes10/Academico.ReportHost/v4/APR/api/ListaFrequenciaApi"/>
      <api name="MatrizCurricularReport" url="http://gtiwebdes10/Academico.ReportHost/v4/CUR/api/MatrizCurricularApi"/>
      <api name="TurmaReport" url="http://gtiwebdes10/Academico.ReportHost/v4/TUR/api/TurmaReportApi"/>
      <api name="DocenteReport" url="http://gtiwebdes10/Academico.ReportHost/v4/DCT/api/DocenteReportApi"/>
      <api name="AcompanhamentoReport" url="http://gtiwebdes10/Academico.ReportHost/v4/APR/AcompanhamentoNota" />
      <api name="OrientadoresReport" url="http://gtiwebdes10/Academico.ReportHost/v4/ORT/api/OrientadoresApi" />
      <api name="PrevisaoConclusaoOrientacaoReport" url="http://gtiwebdes10/Academico.ReportHost/v4/ALN/api/PrevisaoConclusaoOrientacaoApi" />

      <!-- APIs de integração com o GAD -->
      <api name="DiplomaGAD" url="http://localhost/AssinaturaDigital.WebApi/api/Diploma" />
      <api name="HistoricoGAD" url="http://localhost/AssinaturaDigital.WebApi/api/HistoricoEscolar" />
	  <api name="DocumentoGAD" url="http://localhost/AssinaturaDigital.WebApi/api/Documento" />
	  <api name="CurriculoGAD" url="http://localhost/AssinaturaDigital.WebApi/api/Curriculo" />
    </apis>
  </smc.rest>
  <system.web>
    <customErrors mode="Off" xdt:Transform="SetAttributes"/>
  </system.web>
</configuration>