<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="smc.security" type="SMC.Framework.Security.Configuration.SMCSecuritySection, SMC.Framework.Model, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="smc.rest" type="SMC.Framework.Rest.SMCRestSection, SMC.Framework.Rest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="smc.ioc" type="SMC.Framework.Ioc.Configuration.SMCIocSettingsSection,SMC.Framework.Model, Version=4.0.0.0, Culture=neutral" />
    <section name="smc.cache" type="SMC.Framework.Caching.Configuration.SMCCacheSettingsSection, SMC.Framework.Model, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="smc.browser" type="SMC.Framework.UI.Mvc.Configuration.SMCBrowserRuleSection, SMC.Framework.UI.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="smc.google" type="SMC.Framework.Google.Configuration.SMCGoogleSection, SMC.Framework.UI.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="smc.content" type="SMC.Framework.Resources.Configuration.SMCContentSection, SMC.Framework.Model, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="smc.logging" type="SMC.Framework.Logging.Configuration.SMCLoggingSection, SMC.Framework.Model, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.transactions>
    <defaultSettings timeout="00:05:00" />
  </system.transactions>
  <appSettings>
    <!-- mvc4 -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- habilita o fake -->
    <add key="DefaultFake" value="false" />
    <add key="EFContext" value="SMC.Academico.EntityRepository.AcademicoContext" />

    <!-- informa que a aplicação possui filtro de dados global -->
    <!--<add key="DataFilterGlobalAplication" value="true"/>-->

    <!-- Configurações para emissão de boletos santander -->
    <add key="SantanderCertificate" value="E:\Aplicativos\Sistemas\Financeiro.WebApi\Areas\Certificado\PC20230913314447.pfx" />
    <add key="SantanderProduction" value="false" />

    <!-- Informações para arquivos de teses do BDP -->
    <!-- USANDO SERVIDOR DO WEBDAV PARA VALIDAÇÕES -->
    <add key="DiretorioTeses" value="\\GTIARQPROD01\aplicativos$\webdav\sistemas\academico\teses" />
    <add key="UrlDownloadTeses" value="http://webdav.homologacao.pucminas.br:8070/webdav/sistemas/academico/teses/" />
    <!--<add key="DiretorioTeses" value="\\bibhomologacao.pucminas.br\teses" />
    <add key="UrlDownloadTeses" value="http://bibhomologacao.pucminas.br/teses/" />-->

    <!-- Configurações de miniprofiler -->
    <add key="MiniProfilerDbStorage" value="true" />
    <add key="MiniProfilerPopupStartVisible" value="true" />

    <!-- Configurações de ciclo letivo inicial para avaliação parcial -->
    <add key="AnoCicloInicioAvaliacaoParcial" value="2020" />
    <add key="NumeroCicloInicioAvaliacaoParcial" value="02" />

    <!-- Configurações do menu de manual da tela -->
    <add key="ManualPrefix" value="http://manuais.pucminas.br" />

    <!--PARAMETROS FINANCEIROS-->
    <add key="BaseUrlRest" value="http://localhost:8801/Dev/" />
    <add key="WebApiRestCancellationTime" value="300000" />
    <add key="TokenBoleto" value="zxG*g486kO3Y1fvHcXRJap$HcW$pX$vB" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

    <!-- Informações para integração com o GAD -->
    <add key="UrlDocumentoGAD" value="http://localhost/Dev/GAD/VisualizarDiploma" />
    <add key="UrlDeclaracaoGenericaGAD" value="http://localhost/Dev/GAD/VisualizarDocumento/BuscarDadosDocumento" />

    <!-- Declaração Generica - GAD -->
    <add key="ExigeAprovacaoDeclaracaoGenericaParaAssinatura" value="false" />
    <add key="HabilitaNotificacaoDeclaracaoGenericaParaAssinatura" value="true" />
    <add key="IndicadorRastreabilidadeDeclaracaoGenericaParaAssinatura" value="true" />

    <!-- Informações para Acesso página inicial da consulta publica -->
    <add key="UrlConsultaPublica" value="http://desenvolvimento.pucminas.br/sga4/SilverStream/Pages/pgSGA_ConsultaDiplomado.html" />
    <add key="UrlSautinsoft" value="https://web-desenvolvimento.pucminas.br/Sautinsoft.WebApi/api/" />
    
    <!-- Captcha -->
    <add key="SiteKey" value="6LdrRA0TAAAAAGOs_SXrOinsgt1HsTAHwQXs-GtQ" />
    <add key="SecretKey" value="6LdrRA0TAAAAAFpiJLFNH7Zb1Ev5mwjJ5_4pckCg" />
    
    <!-- Fim Captcha -->
  </appSettings>

  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy proxyaddress="http://proxy.pucminas.br" autoDetect="True" usesystemdefault="True" bypassonlocal="True" />
      <bypasslist>
        <add address="^([a-z0-9-]+\.)*pucminas\.br$" />
      </bypasslist>
    </defaultProxy>
  </system.net>

  <connectionStrings configSource="ConnectionStrings.config" />
  <!--
  <smc.cache>
    <add key="default" seconds="3600" sliding="true"/>
  </smc.cache>

  <smc.browser>
    <deny browser="IE" versao="9" anteriores="true"/>
  </smc.browser>
  -->
  <smc.rest>
    <apis>
      <api name="AlunoReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/ALN/api/ReportApi" />
      <api name="AlunosPorComponenteReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/MAT/api/AlunosPorComponenteApi" />
      <api name="AlunosPorSituacaoReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/MAT/api/AlunosPorSituacaoApi" />
      <api name="BancaReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/APR/api/BancasAgendadasApi" />
      <api name="BolsistasReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/FIN/api/BolsistasApi" />
      <api name="ComprovanteMatriculaReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/MAT/api/ComprovanteMatriculaApi" />
      <api name="ComprovanteProcessoReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/SRC/api/ComprovanteProcessoApi" />
      <api name="ConsolidadoServicoCicloLetivoReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/SRC/api/ConsolidadoServicoCicloLetivoApi" />
      <api name="ServicoReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/SRC/api/ServicoReportApi" />
      <api name="ConsolidadoSituacaoReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/MAT/api/ConsolidadoSituacaoApi" />
      <api name="IdentidadeAcademicaReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/PES/api/IdentidadeAcademicaApi" />
      <api name="ListaFrequenciaReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/APR/api/ListaFrequenciaApi" />
      <api name="MatrizCurricularReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/CUR/api/MatrizCurricularApi" />
      <api name="TurmaReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/TUR/api/TurmaReportApi" />
      <api name="DocenteReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/DCT/api/DocenteReportApi" />
      <api name="DiplomaGAD" url="http://localhost/AssinaturaDigital.WebApi/api/Diploma" />
      <api name="HistoricoGAD" url="http://localhost/AssinaturaDigital.WebApi/api/HistoricoEscolar" />
      <api name="DocumentoGAD" url="http://localhost/AssinaturaDigital.WebApi/api/Documento" />
      <api name="CurriculoGAD" url="http://localhost/AssinaturaDigital.WebApi/api/Curriculo" />
      <api name="AcompanhamentoReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/APR/AcompanhamentoNota" />
      <api name="OrientadoresReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/ORT/api/OrientadoresApi" />
      <api name="PrevisaoConclusaoOrientacaoReport" url="http://localhost:8801/Dev/Academico.ReportHost/v4/ALN/api/PrevisaoConclusaoOrientacaoApi" />
    </apis>
  </smc.rest>
  <smc.google>
    <accounts>
      <account id="GTM-TFHL9FX" />
    </accounts>
  </smc.google>
  <smc.ioc type="SMC.Framework.Unity.SMCUnityContainer, SMC.Framework.Unity">
    <add class="SMC.SGA.Administrativo.Ioc.MvcIocMapping, SMC.SGA.Administrativo" />
  </smc.ioc>
  <smc.security>
    <application name="SGA.Administrativo">
      <authentication mode="SistemaSAS" />
    </application>
  </smc.security>
  <smc.content configSource="SMC.Content.config" />
  <smc.logging>
    <performance enabled="false" />
  </smc.logging>

  <location path="FederationMetadata">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="CNC/ConsultaPublica">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Seguranca/AcessoSimulado">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ORG/TipoAgenda">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1"/>
      </system.Web>
  -->
  <system.web>
    <globalization culture="pt-br" uiCulture="pt-br" />
    <compilation debug="true" targetFramework="4.7.1">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="~/Home/SMCError" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <httpRuntime requestValidationType="SMC.Framework.UI.Mvc.Security.SMCFederationRequestValidator, SMC.Framework.UI.Mvc.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" executionTimeout="1200" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <authentication mode="None" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <httpErrors errorMode="Custom" existingResponse="PassThrough">
      <clear />
    </httpErrors>
  </system.webServer>
  <microsoft.identityModel configSource="Microsoft.IdentityModel.config" />
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="SMCNetPipeLarge" closeTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="SMCNetTcpLarge" closeTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding>
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <basicHttpBinding>
        <binding name="TicketEndpointPortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="CobrancaEndpointPortBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="SMC.Framework.Service.ISMCReportMergeService" address="net.tcp://web-desenvolvimento.pucminas.br:808/Office/v4/OfficePDFAService.svc" binding="netTcpBinding" bindingConfiguration="SMCNetTcpLarge" contract="SMC.Framework.Service.ISMCReportMergeService" />      
      <!-- Segurança para SMCAuthorize -->
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IAutenticacaoService" address="net.pipe://localhost/Dev/Seguranca/v4/AutenticacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IAutenticacaoService" />
      <endpoint name="SMC.Framework.Security.ISMCAuthorizationService" address="net.pipe://localhost/Dev/Seguranca/v4/AutorizacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Security.ISMCAuthorizationService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" address="net.pipe://localhost/Dev/Seguranca/v4/UsuarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" address="net.pipe://localhost/Dev/Seguranca/v4/AplicacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.PER.Interfaces.IPerfilService" address="net.pipe://localhost/Dev/Seguranca/v4/PerfilService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.PER.Interfaces.IPerfilService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" address="net.pipe://localhost/Dev/Seguranca/v4/FuncionalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" />
      <!-- Endpoint para Infraestrutura -->
      <endpoint name="SMC.Infraestrutura.ServiceContract.Areas.EML.Interfaces.IEmailService" address="net.pipe://localhost/Dev/Infraestrutura/v4/EmailService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Infraestrutura.ServiceContract.Areas.EML.Interfaces.IEmailService" />
      <endpoint name="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService" address="net.pipe://localhost/Dev/Infraestrutura/v4/PdfService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService" />
      <endpoint name="SMC.Framework.OpenXml.ISMCWorkbookService" address="net.pipe://localhost/Dev/Office/v4/OpenXMLService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.OpenXml.ISMCWorkbookService" />
      <!-- Serviço para Filtro de dados (SEGURANCA) -->
      <endpoint name="SMC.Framework.DataFilters.ISMCDataFilterService" address="net.pipe://localhost/Dev/Seguranca/v4/DataFilterService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.DataFilters.ISMCDataFilterService" />
      <!-- Serviço para Estrutura Organizacional -->
      <endpoint name="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" address="net.pipe://localhost/Dev/EstruturaOrganizacional/v4/EstruturaOrganizacionalService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" />
      <!-- Endpoint para Monitoramento -->
      <endpoint address="net.msmq://localhost/private/smc.seguranca.navegacao" binding="netMsmqBinding" contract="SMC.Framework.Service.Messaging.ISMCMessageQueueService" name="SMC.Seguranca.Monitoramento" />
      <!-- Endpoint para Localidade -->
      <endpoint name="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" address="net.pipe://localhost/Dev/Localidades/v4/LocalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" />
      <!-- Endpoint para Formularios -->
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITipoTemplateProcessoService" address="net.pipe://localhost/Dev/Formularios/v4/TipoTemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITipoTemplateProcessoService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" address="net.pipe://localhost/Dev/Formularios/v4/FormularioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" address="net.pipe://localhost/Dev/Formularios/v4/EtapaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IClasseTemplateProcessoService" address="net.pipe://localhost/Dev/Formularios/v4/ClasseTemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IClasseTemplateProcessoService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IPaginaService" address="net.pipe://localhost/Dev/Formularios/v4/PaginaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IPaginaService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" address="net.pipe://localhost/Dev/Formularios/v4/SituacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" address="net.pipe://localhost/Dev/Formularios/v4/TemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IUnidadeResponsavelService" address="net.pipe://localhost/Dev/Formularios/v4/UnidadeResponsavelService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IUnidadeResponsavelService" />
      <!-- Endpoint para AGD (calendários) -->
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IUnidadeResponsavelService" address="net.pipe://localhost/Dev/Calendarios/v4/UnidadeResponsavelService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IUnidadeResponsavelService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoEventoService" address="net.pipe://localhost/Dev/Calendarios/v4/TipoEventoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoEventoService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IAgendaService" address="net.pipe://localhost/Dev/Calendarios/v4/AgendaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IAgendaService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ICalendarioService" address="net.pipe://localhost/Dev/Calendarios/v4/CalendarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ICalendarioService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoCalendarioService" address="net.pipe://localhost/Dev/Calendarios/v4/TipoCalendarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoCalendarioService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IHorarioService" address="net.pipe://localhost/Dev/Calendarios/v4/HorarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IHorarioService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITabelaHorarioService" address="net.pipe://localhost/Dev/Calendarios/v4/TabelaHorarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITabelaHorarioService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.ESF.Interfaces.ILocalSEFService" address="net.pipe://localhost/Dev/Calendarios/v4/LocalSEFService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.ESF.Interfaces.ILocalSEFService" />
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IEventoService" address="net.pipe://localhost/Dev/Calendarios/v4/EventoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.IEventoService" />
      <!-- Endpoints para GPI -->
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IProcessoService" address="net.pipe://localhost/Dev/Inscricoes/v4/ProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IProcessoService" />
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.RES.Interfaces.IUnidadeResponsavelService" address="net.pipe://localhost/Dev/Inscricoes/v4/UnidadeResponsavelService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.RES.Interfaces.IUnidadeResponsavelService" />
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.ITipoProcessoService" address="net.pipe://localhost/Dev/Inscricoes/v4/TipoProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.ITipoProcessoService" />
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.ITipoItemHierarquiaOfertaService" address="net.pipe://localhost/Dev/Inscricoes/v4/TipoItemHierarquiaOfertaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.ITipoItemHierarquiaOfertaService" />
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IIntegracaoService" address="net.pipe://localhost/Dev/Inscricoes/v4/IntegracaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IIntegracaoService" />
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IEtapaProcessoService" address="net.pipe://localhost/Dev/Inscricoes/v4/EtapaProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IEtapaProcessoService" />
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IInscricaoService" address="net.pipe://localhost/Dev/Inscricoes/v4/InscricaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IInscricaoService" />
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IInscricaoOfertaHistoricoSituacaoService" address="net.pipe://localhost/Dev/Inscricoes/v4/InscricaoOfertaHistoricoSituacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IInscricaoOfertaHistoricoSituacaoService" />
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IHierarquiaOfertaService" address="net.pipe://localhost/Dev/Inscricoes/v4/HierarquiaOfertaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IHierarquiaOfertaService" />
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IItemHierarquiaOfertaService" address="net.pipe://localhost/Dev/Inscricoes/v4/ItemHierarquiaOfertaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IItemHierarquiaOfertaService" />
      <!-- Endpoint para o SAT -->
      <endpoint name="SMC.AgendadorTarefa.ServiceContract.Areas.ATS.Interfaces.IAgendamentoService" address="net.pipe://localhost/Dev/AgendadorTarefa/v4/AgendamentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AgendadorTarefa.ServiceContract.Areas.ATS.Interfaces.IAgendamentoService" />
      <endpoint name="SMC.AgendadorTarefa.ServiceContract.Areas.ATS.Interfaces.IHistoricoAgendamentoService" address="net.pipe://localhost/Dev/AgendadorTarefa/v4/HistoricoAgendamentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AgendadorTarefa.ServiceContract.Areas.ATS.Interfaces.IHistoricoAgendamentoService" />
      <!-- Endpoint para o Integração Financeiro (GRA) -->
      <endpoint name="SMC.Financeiro.ServiceContract.BLT.IIntegracaoFinanceiroService" address="net.pipe://localhost/Dev/Financeiro/v4/IntegracaoFinanceiroService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Financeiro.ServiceContract.BLT.IIntegracaoFinanceiroService" />
      <!-- Endpoint para o Integração Acadêmico -->
      <endpoint name="SMC.IntegracaoAcademico.ServiceContract.Areas.IAC.Interfaces.IIntegracaoAcademicoService" address="net.pipe://localhost/Dev/IntegracaoAcademico/v4/IntegracaoAcademicoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.IntegracaoAcademico.ServiceContract.Areas.IAC.Interfaces.IIntegracaoAcademicoService" />
      <!-- Endpoint para o Notificações -->
      <endpoint name="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" address="net.pipe://localhost/Dev/Notificacoes/v4/NotificacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" />
      <!-- Endpoint para DadosMestres -->
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" address="net.pipe://localhost/Dev/DadosMestres/v4/IntegracaoDadoMestreService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" />
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.ITipoDocumentoService" address="net.pipe://localhost/Dev/DadosMestres/v4/TipoDocumentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.ITipoDocumentoService" />
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IContextoBibliotecaService" address="net.pipe://localhost/Dev/DadosMestres/v4/ContextoBibliotecaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IContextoBibliotecaService" />
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IProcessoGedService" address="net.pipe://localhost/Dev/DadosMestres/v4/ProcessoGedService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IProcessoGedService" />
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IConfiguracaoProcessoGedService" address="net.pipe://localhost/Dev/DadosMestres/v4/ConfiguracaoProcessoGedService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IConfiguracaoProcessoGedService" />

      <endpoint address="https://ymbdlb.santander.com.br:443/dl-ticket-services/TicketEndpointService" binding="basicHttpBinding" bindingConfiguration="TicketEndpointPortBinding" contract="SantanderTicket.TicketEndpoint" name="TicketEndpointPort" />
      <endpoint address="https://ymbcash.santander.com.br:443/ymbsrv/CobrancaEndpointService" binding="basicHttpBinding" bindingConfiguration="CobrancaEndpointPortBinding" contract="SantanderCobranca.CobrancaEndpoint" name="CobrancaEndpointPort" />
      <endpoint name="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService" address="net.pipe://localhost/Dev/Pessoas/v4/PessoaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService" />
      <!-- Endpoint para o Avaliação Permanente -->
      <endpoint name="SMC.AvaliacaoPermanente.ServiceContract.Areas.QST.Interfaces.IAmostraService" address="net.pipe://localhost/Dev/AvaliacaoPermanente/v4/AmostraService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AvaliacaoPermanente.ServiceContract.Areas.QST.Interfaces.IAmostraService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoEtapaService" address="net.pipe://localhost/Dev/Formularios/v4/SituacaoEtapaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoEtapaService" />
      <!-- Endpoint para Assinatura Digital -->
      <endpoint name="SMC.AssinaturaDigital.ServiceContract.Areas.DDG.Interfaces.IConfiguracaoDocumentoAcademicoService" address="net.pipe://localhost/Dev/AssinaturaDigital/v4/ConfiguracaoDocumentoAcademicoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AssinaturaDigital.ServiceContract.Areas.DDG.Interfaces.IConfiguracaoDocumentoAcademicoService" />
      <endpoint name="SMC.AssinaturaDigital.ServiceContract.Areas.DOC.Interfaces.IConfiguracaoDocumentoService" address="net.pipe://localhost/Dev/AssinaturaDigital/v4/ConfiguracaoDocumentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AssinaturaDigital.ServiceContract.Areas.DOC.Interfaces.IConfiguracaoDocumentoService" />
      <!-- Endpoint para Sistema Origem -->
      <endpoint name="SMC.AssinaturaDigital.ServiceContract.Areas.CAD.Interfaces.ISistemaOrigemService" address="net.pipe://localhost/Dev/AssinaturaDigital/v4/SistemaOrigemService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AssinaturaDigital.ServiceContract.Areas.CAD.Interfaces.ISistemaOrigemService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Interception" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.6.0" newVersion="5.5.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.11.0" newVersion="5.8.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Configuration" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.5.0" newVersion="5.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Dapper.StrongName" publicKeyToken="e3e8412083d25dd3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PInvoke.BCrypt" publicKeyToken="9e300f9f87f04a7a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.5.0.0" newVersion="0.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PInvoke.NCrypt" publicKeyToken="9e300f9f87f04a7a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.5.0.0" newVersion="0.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Validation" publicKeyToken="2fc06f0d701809a7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>