<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="UrlGestaoXChamados" value="https://web-homologacao.pucminas.br/CSC/CSC/Chamado/Index" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <smc.rest xdt:Transform="Replace">
    <apis>
      <api name="SuporteTecnicoChamados" url="https://web-homologacao.pucminas.br/GestaoX.WebApi/api/v1/Chamado" />
    </apis>
  </smc.rest>
</configuration>