<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:asmv1="urn:schemas-microsoft-com:asm.v1">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)"/>
    <customErrors xdt:Transform="Replace" mode="On" defaultRedirect="~/Home/SMCError"/>
  </system.web>

  <system.serviceModel>
    <client xdt:Transform="Replace">
      <!-- Segurança para SMCAuthorize -->
      <endpoint name="SMC.Framework.Security.ISMCAuthorizationService" address="net.pipe://localhost/Seguranca/v4/AutorizacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Security.ISMCAuthorizationService"/>
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" address="net.pipe://localhost/Seguranca/v4/UsuarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService"/>
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" address="net.pipe://localhost/Seguranca/v4/AplicacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService"/>
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.PER.Interfaces.IPerfilService" address="net.pipe://localhost/Seguranca/v4/PerfilService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.PER.Interfaces.IPerfilService"/>
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" address="net.pipe://localhost/Seguranca/v4/FuncionalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService"/>

      <!-- Endpoint para Infraestrutura -->
      <endpoint name="SMC.Infraestrutura.ServiceContract.Areas.EML.Interfaces.IEmailService" address="net.pipe://localhost/Infraestrutura/v4/EmailService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Infraestrutura.ServiceContract.Areas.EML.Interfaces.IEmailService"/>
      <endpoint name="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService" address="net.pipe://localhost/Infraestrutura/v4/PdfService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService"/>
      <endpoint name="SMC.Framework.Service.ISMCReportMergeService" address="net.pipe://localhost/Office/v4/OfficePDFAService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Service.ISMCReportMergeService"/>
      <!--<endpoint name="SMC.Framework.Service.ISMCReportMergeService" address="net.pipe://localhost/Office/v4/OfficeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Service.ISMCReportMergeService"/>-->

      <!-- Serviço para Filtro de dados (SEGURANCA) -->
      <endpoint name="SMC.Framework.DataFilters.ISMCDataFilterService" address="net.pipe://localhost/Seguranca/v4/DataFilterService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.DataFilters.ISMCDataFilterService"/>

      <!-- Serviço para Estrutura Organizacional -->
      <endpoint name="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" address="net.pipe://localhost/EstruturaOrganizacional/v4/EstruturaOrganizacionalService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService"/>

      <!-- Endpoint para Monitoramento -->
      <endpoint address="net.msmq://localhost/private/smc.seguranca.navegacao" binding="netMsmqBinding" contract="SMC.Framework.Service.Messaging.ISMCMessageQueueService" name="SMC.Seguranca.Monitoramento"/>

      <!-- Endpoint para Localidade -->
      <endpoint name="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" address="net.pipe://localhost/Localidades/v4/LocalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService"/>

      <!-- Endpoint para DadosMestres -->
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" address="net.pipe://localhost/DadosMestres/v4/IntegracaoDadoMestreService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService"/>
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.ITipoDocumentoService" address="net.pipe://localhost/DadosMestres/v4/TipoDocumentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.ITipoDocumentoService"/>

      <!-- Endpoint para Formularios -->
      <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" address="net.pipe://localhost/Formularios/v4/FormularioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService"/>
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" address="net.pipe://localhost/Formularios/v4/EtapaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService"/>
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" address="net.pipe://localhost/Formularios/v4/SituacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService"/>
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" address="net.pipe://localhost/Formularios/v4/TemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService"/>

      <endpoint name="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService" address="net.pipe://localhost/Pessoas/v4/PessoaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService"/>

      <endpoint name="SMC.Google.Service.ADM.IGoogleService" address="net.pipe://localhost/Google/v4/GoogleService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Google.Service.ADM.IGoogleService"/>
      <!-- Endpoint para o Notificações -->
      <endpoint name="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" address="net.pipe://localhost/Notificacoes/v4/NotificacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService"/>
    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.IO.Compression')"/>
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http')"/>
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http.Formatting')"/>
    </assemblyBinding>
  </runtime>
</configuration>