@model EscalonamentoCabecalhoViewModel

@{
    using (Smc.Header("ProcessoCabecalho", SMCHeaderType.Primary).CssClass("smc-header-botao")
                     .Item(prop => prop.SeqProcesso, sizeMD: SMCSize.Grid2_24, sizeXS: SMCSize.Grid24_24, sizeSM: SMCSize.Grid24_24, sizeLG: SMCSize.Grid2_24)
                     .Item(prop => prop.DescricaoProcesso, sizeMD: SMCSize.Grid22_24, sizeXS: SMCSize.Grid24_24, sizeSM: SMCSize.Grid24_24, sizeLG: SMCSize.Grid22_24)
                     .Item(prop => prop.DescricaoCicloLetivo, sizeMD: SMCSize.Grid4_24, sizeXS: SMCSize.Grid24_24, sizeSM: SMCSize.Grid4_24, sizeLG: SMCSize.Grid4_24)
                     .Item(prop => prop.DataInicio, sizeMD: SMCSize.Grid4_24, sizeXS: SMCSize.Grid24_24, sizeSM: SMCSize.Grid8_24, sizeLG: SMCSize.Grid4_24)
                     .Item(prop => prop.DataFim, sizeMD: SMCSize.Grid4_24, sizeXS: SMCSize.Grid24_24, sizeSM: SMCSize.Grid8_24, sizeLG: SMCSize.Grid4_24)
                     .Item(prop => prop.DataEncerramento, sizeMD: SMCSize.Grid4_24, sizeXS: SMCSize.Grid24_24, sizeSM: SMCSize.Grid8_24, sizeLG: SMCSize.Grid4_24)
    // .ButtonSet(buttonSet)
    .Begin())
    {
        ///Configuração dos botões
        SMCButtonFluentConfiguration buttonHabilitado = (Smc.Button(SMCButtonBehavior.Visualizar)
                                                       .Text(Smc.GetUIResource("botao_acessar_grupo_escalonamento"))
                                                       .Action("Index", "GrupoEscalonamento", new { seqProcesso = new SMCEncryptedLong(Model.SeqProcesso), Area = "SRC" })
                                                       .Tooltip(Smc.GetUIResource("botao_acessar_grupo_escalonamento_tooltip"))
                                                       .SecurityToken(UC_SRC_002_06_01.PESQUISAR_GRUPO_ESCALONAMENTO_PROCESSO));

        SMCButtonFluentConfiguration buttonDesabilitado = (Smc.Button(SMCButtonBehavior.Visualizar)
                                                       .Text(Smc.GetUIResource("botao_acessar_grupo_escalonamento"))
                                                       .Enabled(false)
                                                       .ButtonInstructions(Smc.GetUIResource("botao_acessar_grupo_escalonamento_instructions"))
                                                       .Action("Index", "GrupoEscalonamento", new { seqProcesso = new SMCEncryptedLong(Model.SeqProcesso), Area = "SRC" })
                                                       .Tooltip(Smc.GetUIResource("botao_acessar_grupo_escalonamento_tooltip"))
                                                       .SecurityToken(UC_SRC_002_06_01.PESQUISAR_GRUPO_ESCALONAMENTO_PROCESSO));

        SMCButtonSetFluentConfiguration buttonSet = (Smc.ButtonSet().Type(SMCButtonSetType.Secondary)
                                                    .NumberOfButtonsToShow(0)
                                                    // .Size(SMCSize.Grid1_24)
                                                    );

        if (Model.HabilitarGrupoEscalonamento)
        {
            buttonSet.AddButton(buttonHabilitado);
        }
        else
        {
            buttonSet.AddButton(buttonDesabilitado);
        }

        using (Smc.Div("").Size(SMCSize.Grid1_24, SMCSize.Grid1_24, SMCSize.Grid1_24, SMCSize.Grid1_24).Begin())
        {
            @buttonSet
        }
    }
}

@using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-sga-mensagem smc-sga-mensagem-informativa smc-sga-margin-top-5").Begin())
{
    <p class="smc-sga-msg-conteudo-linha">@Smc.GetUIResource("Mensagem_Informacoes_Sem_Notificacao")</p>
}