<footer class="smc-footer-centro footer smc-size-md-20 smc-size-xs-24 smc-size-sm-22 smc-size-lg-20 col-md-offset-2 col-sm-offset-1 col-lg-offset-2">
    <ul class="smc-footer-conteudo container">
        <li class="smc-footer-copyright">@string.Format(Smc.GetUIResource("Layout_Texto_Copyright"), DateTime.Today.Year)</li>
        <li class="smc-footer-logo-gti" title="@Smc.GetUIResource("Layout_Titulo_Logotipo_GTI")"></li>
        <li class="smc-footer-logo-smc" title="@Smc.GetUIResource("Layout_Titulo_Logotipo_SMC")"></li>
    </ul>
</footer>
