@model List<string>

@if (Model.Count > 0)
{
    using (Smc.Fieldset("TipoAtuacao").CssClass("smc-sga-fildsets-header").Size(SMCSize.Grid12_24).LegendText(@Smc.GetUIResource("TiposAtuacao")).Begin())
    {
            <ul class="smc-display-collection">
                @foreach (var tipo in Model)
                {
                    <li>@tipo</li>
                }
            </ul>

    }
}