<smc-modal s-size="xl" s-title="Excluir Agendamento" (s-on-close)="fecharModal()">
  <div s-modal-body *ngIf="modeloCrud">
    <fieldset class="smc-size-md-24 smc-size-lg-24 smc-sga-fieldset-agendamento">
      <legend>Dados da divisão de turma</legend>
      <div class="smc-size-md-24">
        <div class="smc-display">
          <label>Divisão de turma</label>
          <p>{{ modeloCrud.descricaoFormatada }}</p>
        </div>
      </div>
      <sga-bi-grd-001 [s-dados]="modeloCrud"></sga-bi-grd-001>
    </fieldset>
    <fieldset class="smc-size-md-24 smc-size-lg-24 smc-sga-fieldset-agendamento">
      <legend>Quais ocorrências você deseja excluir?</legend>
      <form [formGroup]="formExclusao">
        <po-radio-group
          class="smc-sga-agendamento-radio-vertical smc-size-md-14 smc-size-lg-14"
          formControlName="tipoExclusao"
          p-columns="3"
          [p-options]="[
            { label: 'Somente esta ocorrência', value: '1' },
            { label: 'Todas as ocorrências', value: '2' },
            { label: 'Do período', value: '3' }
          ]"
          (p-change)="changeTipoExclusao($event)"
        >
        </po-radio-group>
        <po-datepicker
          class="smc-size-md-5 smc-size-lg-5 smc-sga-datepicker-horizontal"
          formControlName="dataInicio"
          p-label="Data início"
          [class.smc-datapicker-required]="dataObrigatoria"
          [hidden]="esconderDataPeriodo"
          [p-required]="dataObrigatoria"
        >
        </po-datepicker>
        <po-datepicker
          class="smc-size-md-5 smc-size-lg-5 smc-sga-datepicker-horizontal"
          formControlName="dataFim"
          p-label="Data fim"
          p-error-pattern="A data fim deverá ser maior ou igual à data início."
          [class.smc-datapicker-required]="dataObrigatoria"
          [hidden]="esconderDataPeriodo"
          [p-min-date]="formExclusao.get('dataInicio').value"
          [p-required]="dataObrigatoria"
          [p-disabled]="modeloCrud.tipoDistribuicaoAula !== 'Livre'"
        >
        </po-datepicker>
      </form>
    </fieldset>
    <fieldset class="smc-size-md-24 smc-size-lg-24 smc-sga-fieldset-agendamento">
      <legend>Dados do agendamento</legend>
      <div class="smc-sga-agendamento-detalhes-conteudo smc-size-md-24 smc-size-lg-24">
        <p class="smc-sga-agendamento-data">
          {{ modeloCrud.diaSemanaFormatada }} de {{ modeloCrud.horaInicio }} -
          {{ modeloCrud.horaFim }}
        </p>
        <p class="smc-sga-agendamento-local" [class.smc-italico]="!modeloCrud.codigoLocalSEF">{{ modeloCrud.local }}</p>
        <ul class="smc-sga-agendamento-professor">
          <li *ngFor="let professor of modeloCrud.professores" [class.smc-italico]="!modeloCrud.contemProfessores">{{ professor }}</li>
        </ul>
      </div>
    </fieldset>
  </div>
  <div s-modal-footer>
    <div *ngIf="mensagemInformativa" [class]="classeMensagemInformativa">
      <p>{{ mensagemInformativa }}</p>
    </div>
    <smc-button
      s-button-class="smc-btn-custom smc-btn-yes"
      s-label="Sim"
      s-tooltip="Sim"
      (s-click)="formatarMensagemEventosExcluir()"
      [s-disabled]="!formExclusao?.valid"
    ></smc-button>
    <smc-button
      s-button-class="smc-btn-custom smc-btn-no"
      s-label="Não"
      s-tooltip="Não"
      (s-click)="voltar()"
    ></smc-button>
  </div>
</smc-modal>
<!-- Assert de confirmação -->
<smc-modal s-title="Atenção!" #confirmar s-hide-close="true">
  <div s-modal-body>{{ mensagemAssert }} Confirma a exclusão?</div>
  <div s-modal-footer>
    <smc-button s-label="Sim" s-tooltip="Sim" (s-click)="onSubmit()"></smc-button>
    <smc-button #btNao s-label="Não" s-tooltip="Não" (s-click)="confirmar.close()"></smc-button>
  </div>
</smc-modal>
