@model SMCPagerModel<ConsultarTaxasPorNucleoListarViewModel>

@if (Model.Any())
{
    @(Smc.List("TaxaPorNucleo", Model)
       .HtmlTemplate(item => @Html.Partial("_ConsultarTaxasPorNucleoItem", item)))
}
else
{
    using (Smc.Div().Size(SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24).Begin())
    {
        <span class="smc-datagrid-no-results">Nenhum registro encontrado</span>
    }
}


