<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="AcademicoContext" connectionString="data source=GTIDBSQLDES01\prod;initial catalog=ACADEMICO;user id=Academico;password=@lecr1m736;MultipleActiveResultSets=True;App=Academico" providerName="System.Data.SqlClient" />
  <add name="FinanceiroContext" connectionString="data source=GTIDBSQLDES01\prod;initial catalog=FINANCEIRO;user id=FINANCEIRO;password=F1nanc3@16;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="GRAContext" connectionString="data source=GTIDBSQLDES01\prod;initial catalog=GRA;user id=GRA;password=diamante93;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  <!-- Connection strings do Integração Acadêmico -->
  <add name="DWContext" connectionString="metadata=res://*/DWModel.csdl|res://*/DWModel.ssdl|res://*/DWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GTIDBSQLDES01\dw;initial catalog=dw_stage_1;user id=Integra_Academico;password=c@qui560;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="SCOContext" connectionString="metadata=res://*/SCOModel.csdl|res://*/SCOModel.ssdl|res://*/SCOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GTIDBSQLDES01\prod;initial catalog=SCO;user id=sco;password=enxofre32;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="SGAContext" connectionString="metadata=res://*/AcademicoModel.csdl|res://*/AcademicoModel.ssdl|res://*/AcademicoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GTIDBSQLDES01\prod;initial catalog=SGA;user id=sga;password=platina96;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DWRepository" connectionString="Data Source=GTIDBSQLDES01\dw;initial catalog=dw_stage_1;user id=Integra_Academico;password=c@qui560;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="SCORepository" connectionString="Data Source=GTIDBSQLDES01\prod;initial catalog=sco;user id=sco;password=enxofre32;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="SGARepository" connectionString="Data Source=GTIDBSQLDES01\prod;initial catalog=sga;user id=sga;password=platina96;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>