<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="MiniProfilerDbStorage" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="MiniProfilerPopupStartVisible" xdt:Transform="Remove" xdt:Locator="Match(key)"/>

    <!-- Informações para integração com INTR -->
    <add key="UrlTermoCiencia" value="https://www.sistemas.pucminas.br/intr/SilverStream/Pages/pgCAD_TermoCiencia.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Informações para avaliação PPA />-->
    <add key="UrlAvaliacaoSemestralCpa" value="https://www.sistemas.pucminas.br/sgaaluno4/SilverStream/Pages/pgAln_LoginToken.html?login={0}&amp;token={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Informações para integração com o gestão x -->
    <add key="UrlGestaoXChamados" value="https://web.sistemas.pucminas.br/CSC/CSC/Chamado/Index" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <smc.rest xdt:Transform="Replace">
    <apis>
      <api name="AlunoReport" url="http://srv.pucminas.br/Academico.ReportHost/v4/ALN/api/ReportApi"/>
      <api name="ListaFrequenciaReport" url="http://srv.pucminas.br/Academico.ReportHost/v4/APR/api/ListaFrequenciaApi"/>
      <api name="AcompanhamentoReport" url="http://srv.pucminas.br/Academico.ReportHost/v4/APR/AcompanhamentoNota" />
      <api name="TurmaReport" url="http://srv.pucminas.br/Academico.ReportHost/v4/TUR/api/TurmaReportApi"/>
      <api name="QuestionarioRapidoPPA" url="http://web.sistemas.pucminas.br/AvaliacaoPermanente.WebAPI/api/QST/QuestionarioRapido" />
      <api name="SuporteTecnicoChamados" url="http://localhost/GestaoX.WebApi/api/v1/Chamado" />
    </apis>
  </smc.rest>

</configuration>