<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="UrlTermoCiencia" value="http://qualidade.pucminas.br/intr/SilverStream/Pages/pgCAD_TermoCiencia.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGestaoXChamados" value="https://web-qualidade.pucminas.br/CSC/CSC/Chamado/Index" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlAvaliacaoSemestralCpa" value="http://qualidade.pucminas.br/sgaaluno4/SilverStream/Pages/pgAln_LoginToken.html?login={0}&amp;token={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <smc.rest xdt:Transform="Replace">
    <apis>
      <api name="AlunoReport" url="http://gtiwebhom02/Academico.ReportHost/v4/ALN/api/ReportApi"/>
      <api name="ListaFrequenciaReport" url="http://gtiwebhom02/Academico.ReportHost/v4/APR/api/ListaFrequenciaApi"/>
      <api name="AcompanhamentoReport" url="http://gtiwebhom02/Academico.ReportHost/v4/APR/AcompanhamentoNota" />
      <api name="TurmaReport" url="http://gtiwebhom02/Academico.ReportHost/v4/TUR/api/TurmaReportApi"/>
      <api name="QuestionarioRapidoPPA" url="http://web-qualidade.pucminas.br/AvaliacaoPermanente.WebAPI/api/QST/QuestionarioRapido" />
      <api name="SuporteTecnicoChamados" url="https://web-qualidade.pucminas.br/GestaoX.WebApi/api/v1/Chamado" />
    </apis>
  </smc.rest>

  <system.web>
    <customErrors mode="Off" xdt:Transform="SetAttributes"/>
  </system.web>

</configuration>