<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="UrlTermoCiencia" value="https://homologacao.pucminas.br/intr/SilverStream/Pages/pgCAD_TermoCiencia.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGestaoXChamados" value="https://web-homologacao.pucminas.br/CSC/CSC/Chamado/Index" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlAvaliacaoSemestralCpa" value="https://homologacao.pucminas.br/sgaaluno4/SilverStream/Pages/pgAln_LoginToken.html?login={0}&amp;token={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <smc.rest xdt:Transform="Replace">
    <apis>
      <api name="AlunoReport" url="http://srv-homologacao.pucminas.br/Academico.ReportHost/v4/ALN/api/ReportApi" />
      <api name="ListaFrequenciaReport" url="http://srv-homologacao.pucminas.br/Academico.ReportHost/v4/APR/api/ListaFrequenciaApi" />
      <api name="AcompanhamentoReport" url="http://srv-homologacao.pucminas.br/Academico.ReportHost/v4/APR/AcompanhamentoNota" />
      <api name="TurmaReport" url="http://srv-homologacao.pucminas.br/Academico.ReportHost/v4/TUR/api/TurmaReportApi" />
      <api name="QuestionarioRapidoPPA" url="http://web-homologacao.pucminas.br/AvaliacaoPermanente.WebAPI/api/QST/QuestionarioRapido" />
      <api name="SuporteTecnicoChamados" url="https://web-homologacao.pucminas.br/GestaoX.WebApi/api/v1/Chamado" />
    </apis>
  </smc.rest>

</configuration>