<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <!-- URL CSC -->
    <add key="UrlGestaoXChamados" value="https://web-desenvolvimento.pucminas.br/CSC/CSC/Chamado/Index" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <smc.rest xdt:Transform="Replace">
    <apis>
      <!-- APIS de Report -->
      <api name="AlunoReport" url="http://gtiwebdes10/Academico.ReportHost/v4/ALN/api/ReportApi"/>
      <api name="ListaFrequenciaReport" url="http://gtiwebdes10/Academico.ReportHost/v4/APR/api/ListaFrequenciaApi"/>
      <api name="AcompanhamentoReport" url="http://gtiwebdes10/Academico.ReportHost/v4/APR/AcompanhamentoNota" />
      <api name="TurmaReport" url="http://gtiwebdes10/Academico.ReportHost/v4/TUR/api/TurmaReportApi"/>

      <!-- URL PPA -->
      <api name="QuestionarioRapidoPPA" url="https://web-desenvolvimento.pucminas.br/AvaliacaoPermanente.WebAPI/api/QST/QuestionarioRapido" />

      <!-- URL CSC -->
      <api name="SuporteTecnicoChamados" url="https://web-desenvolvimento.pucminas.br/GestaoX.WebApi/api/v1/Chamado" />

      <!-- URL Sharepoint -->
      <api name="ArquivoSharepoint" url="https://web-desenvolvimento.pucminas.br/Academico.WebApi/api/FileSharepoint"/>
    </apis>
  </smc.rest>

  <system.web>
    <customErrors mode="Off" xdt:Transform="SetAttributes"/>
  </system.web>

</configuration>