

:root {
    --color-input-border-text-focusable: #ececec;
    --color-textarea-border-focusable: #ececec;
    --color-checkbox-group-box-shadow-color-focusable: #ececec;
    --color-checkbox-group-border-input-active: #333;
    --color-checkbox-group-background-color-active: #333;
    --color-checkbox-group-box-shadow-color-focusable: #ececec #bad6da;
    --color-accordion-header-color-primary: $smc-cor-principal-01;
    --color-primary-alpha-50: rgba(26, 130, 159, 0.68);
    --color-primary: rgba(98, 98, 98, 0.5);
}

// CONFIGURAÇÕES GERAIS

.smc-campo-highlight {
    .po-input {
        border: 2px solid $smc-cor-secundaria-03;
    }
}

a {
    cursor: pointer;
}

.po-field-title {
    font-family: "sf_ui_displayregular";
    color: $smc-cinza;
    float: left;
    margin-bottom: -6px;
    line-height: 19px;
}

:focus,
a:focus {
    outline: none;
}

.po-button-primary {
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    font-size: 12px;
    margin: 1px 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-repeat: no-repeat;
    height: 31px;
    padding: 2px 8px 0 8px;
    background-color: #0083a2;
    border: solid 1px #0083a2;
    color: #fff !important;
}

.po-button-primary:hover {
    background-color: #bad6da;
}

.po-checkbox-group-item {
    padding: 0px 8px 10px 0;
    line-height: 4px;
    min-height: 18px;
}

.po-checkbox-group-item > label {
    margin-top: 16px;
}

.po-input {
    box-shadow: inset 0 0px 0px 0;
}

.po-textarea {
    box-shadow: inset 0 0px 0px 0;
    resize: vertical;
}
// LOADING LOCAL
.smc-sga-carregando-local {
    width: 100%;
    height: auto;
    display: block;
    background-color: $smc-branco;
    text-align: center;
    overflow: hidden;
    height: 34px !important;
    padding: 7px;
    color: transparent;

    &:before {
        font-size: 12px !important;
        @extend .fa;
        color: $smc-cor-principal;
        @extend .fa-spinner;
        @extend .fa-pulse;
        @extend .fa-3x;
        @extend .fa-fw;
    }
}

.smc-sga-mensagem-local-informa {
    min-width: 32% !important;
}

button {
    .smc-sga-carregando-local {
        margin-left: -11px;
        width: 98%;
        height: auto;
        display: block;
        background-color: #e5e5e5;
        border-radius: 4px;
        text-align: center;
        overflow: hidden;
        height: 31px !important;
        padding: 7px;
        color: transparent;
        position: absolute;
        margin-top: -3px;

        &:before {
            font-size: 12px !important;
            @extend .fa;
            color: $smc-cor-principal;
            @extend .fa-spinner;
            @extend .fa-pulse;
            @extend .fa-3x;
            @extend .fa-fw;
        }
    }
}

.smc-btn-novo-icotext,
.smc-btn-excluir-icotext {
    .smc-sga-carregando-local {
        width: 95%;
    }
}
//MULTI SELECT
.po-multiselect-container {
    margin-top: -8px;
}

.po-multiselect-items-container {
    li {
        list-style: none;
        list-style-type: none;
        padding: 0;
        display: block;
        width: 100%;
        clear: both;
    }
}

.po-field-icon-container-left,
.po-field-icon-container-right {
    right: 15px;
}

.po-disclaimer .po-disclaimer-label,
.po-disclaimer .po-disclaimer-remove {
    background-color: #cfdf97;
    position: relative !important;
}

.po-disclaimer .po-disclaimer-label,
.po-disclaimer .po-disclaimer-remove {
    height: 22px;
    line-height: 22px;
    margin-top: 2px;

    &:before {
        top: -5px;
        position: relative;
    }
}
// MENSAGENS
.po-toaster {
    //padding: 31px 16px 16px;
    z-index: 2147483641;
}
// Cores e ícones (Mensagens de Aviso)
$smc-mensagem-informa-cor-background: #d9edf7 !default;
$smc-mensagem-informa-cor-borda: #59aac3 !default;
$smc-mensagem-informa-cor-texto: #5c7f8f !default;

// Cores e ícones(Mensagens de Erro)
$smc-mensagem-erro-cor-background: #f2dede !default;
$smc-mensagem-erro-cor-borda: #c43937 !default;
$smc-mensagem-erro-cor-texto: #92302e !default;

// Cores e ícones (Mensagens de Informação)
$smc-mensagem-aviso-cor-background: #fcf8e3 !default;
$smc-mensagem-aviso-cor-borda: #e4a445 !default;
$smc-mensagem-aviso-cor-texto: #a38147 !default;

// Cores e ícones(Mensagens de Sucesso)
$smc-mensagem-sucesso-cor-background: #dff0d8 !default;
$smc-mensagem-sucesso-cor-borda: #63ad4b !default;
$smc-mensagem-sucesso-cor-texto: #546d3e !default;

.smc-sga-mensagem::before {
    margin: 0;
}

%base-mensagem-fixa {
    padding: 10px 10px;

    div {
        &:before {
            @extend .fa;
            font-size: 20px;
            margin-left: 10px;
        }
    }

    span {
        &:before {
            display: none !important;
        }
    }
}

.po-toaster-info {
    @extend %base-mensagem-fixa;
    background-color: $smc-mensagem-informa-cor-background;
    color: $smc-mensagem-informa-cor-texto;
    border: 2px solid $smc-mensagem-informa-cor-borda;

    div {
        &:before {
            @extend .fa-comment;
            color: $smc-mensagem-informa-cor-borda !important;
        }
    }
}

.po-toaster-warning {
    @extend %base-mensagem-fixa;
    background-color: $smc-mensagem-aviso-cor-background;
    color: $smc-mensagem-aviso-cor-texto;
    border: 2px solid $smc-mensagem-aviso-cor-borda;

    div {
        &:before {
            @extend .fa-exclamation-triangle;
            color: $smc-mensagem-aviso-cor-borda !important;
        }
    }
}

.po-toaster-success {
    @extend %base-mensagem-fixa;
    background-color: $smc-mensagem-sucesso-cor-background;
    color: $smc-mensagem-sucesso-cor-texto;
    border: 2px solid $smc-mensagem-sucesso-cor-borda;

    div {
        &:before {
            @extend .fa-check;
            color: $smc-mensagem-sucesso-cor-borda !important;
        }
    }
}

.po-toaster-error {
    @extend %base-mensagem-fixa;
    background-color: $smc-mensagem-erro-cor-background;
    color: $smc-mensagem-erro-cor-texto;
    border: 2px solid $smc-mensagem-erro-cor-borda;

    div {
        &:before {
            @extend .fa-times-circle;
            color: $smc-mensagem-erro-cor-borda !important;
        }
    }
}

.po-toaster-message {
    font-weight: normal !important;
    font-family: "sf_ui_displayregular" !important;
    font-size: 12px;
}

.po-overlay-absolute,
.po-overlay-fixed {
    background-color: rgba(51, 51, 51, 0.96);
    z-index: 2147483641;
}

.po-loading-overlay-content {
    background-color: transparent;
    box-shadow: -1 1px 4px 0 var(--color-loading-overlay-box-shadow-content);
    text-align: center;
}
// ALINHAMENTO AO CENTRO
.smc-sga-alinha-centro {
    text-align: center;
}
// PADRONIZAÇÃO DA MODAL
.smc-modal-header {
    h2 {
        padding-left: 1.5%;
        margin: -2px 0 25px 0 !important;
    }
}

.po-modal {
    z-index: 1042;

    .po-modal-content {
        max-width: 90%;
        box-shadow: none;
        padding: 0 20px;
    }

    .po-modal-body {
        max-width: 100%;
        max-height: calc(100vh - 200px);
        overflow: auto;
        padding: 0 5px;
        line-height: 19px;
    }

    .po-modal-title {
        font-family: "sf_ui_displayregular" !important;
        font-size: 21px !important;
        color: $smc-cor-secundaria-01;
    }
}

.po-modal-lg {
    width: 70%;
}

.po-modal-xl {
    width: 90%;
}

.po-modal-overlay {
    background: rgba(98, 98, 98, 0.7);
}

.po-modal-body::-webkit-scrollbar {
    border-radius: 0;
    height: 4px;
    opacity: 0.6;
    width: 5px;
    background: rgba(98, 98, 98, 0.2);
}

.po-icon-close {
    color: $smc-branco;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    margin-top: 1px;
    line-height: -2px;
    margin-left: 1px;
}

.po-modal-header-close-button {
    background-color: $smc-cinza-06;
    width: 16px;
    height: 16px;
    border-radius: 50px;
}
// header da modal
.po-modal-header {
    padding: 15px 8px 0 8px;
}
//Esta classe aqui é para adequar os botões das modais
.smc-sga-modal-ajuste-botoes {
    .po-modal-footer {
        po-button.po-button-danger {
            button {
                &:before {
                    margin-right: 6px;
                    @extend .fa;
                    @extend .fa-times;
                }
            }
        }

        po-button:first-of-type {
            button {
                background-color: $smc-cor-secundaria-01;
                border: solid 1px $smc-cor-secundaria-01;
                color: $smc-branco;

                &:before {
                    margin-right: 6px;
                    @extend .fa;
                    @extend .fa-floppy-o;
                }
            }
        }
    }
}

.po-modal-footer {
    padding: 10px 8px 25px 8px;

    .po-button-primary {
        position: relative;
        top: -1px;
    }
}

.po-modal-footer .po-button {
    margin: 1px 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    height: 31px;
    padding: 1px 10px;
    border: solid 1px $smc-cor-secundaria-01;
    color: $smc-cor-secundaria-01;
}

.po-modal-footer .po-button:hover {
    background-color: $smc-cor-principal-04;
    border: solid 1px $smc-cor-secundaria-01;
    color: $smc-branco;
}

.po-modal-footer .po-button:disabled {
    background-color: $smc-cinza-03 !important;
    border-color: $smc-cinza-03 !important;
    color: $smc-cinza-05 !important;
    cursor: no-drop;
}
// MAXIMIZAR / MINIMIZAR TELA
//COMANDO MAXIMIZAR E MINIMIZAR CONTEÚDO
%base-btn-max-min {
    float: right;
    cursor: pointer;

    &:before {
        @extend .fa;
        margin-bottom: 3px;
        float: right;
        margin-top: -3px;
        color: $smc-cor-principal-01;
    }

    &:hover {
        color: $smc-cor-secundaria-01;

        &:before {
            color: $smc-cor-secundaria-01;
        }
    }
}

.smc-sga-btn-maximizar {
    @extend %base-btn-max-min;

    &:before {
        @extend .fa-expand;
    }
}

.smc-sga-btn-minimizar {
    @extend %base-btn-max-min;

    &:before {
        @extend .fa-compress;
    }
}
// TELA MAXIMIZADA
.smc-sga-tela-maximizada {
    position: fixed;
    background-color: $smc-branco;
    z-index: 1041;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    background-image: url('./smc-sga-logotipo-login.png');
    background-repeat: no-repeat;
    background-position: 16px 6px;
    background-size: 85px;

    h2 {
        margin-left: 100px;
        font-size: 17px;
        margin-top: -10px;
        margin-bottom: 15px;
        font-weight: bold;

        &:before {
            display: none;
        }
    }
}
///
// LOADING
.po-loading-icon {
    display: none;
}

.po-loading {
    &:before {
        font-size: 3em;
        @extend .fa;
        color: $smc-cor-principal-03;
        @extend .fa-spinner;
        @extend .fa-pulse;
        @extend .fa-3x;
        @extend .fa-fw;
    }
}

.po-loading-label {
    font-size: 14px;
    color: $smc-cor-principal-03;
    margin-top: 3px;
    font-family: "segoe_uiregular";
}
// GRID
// Estrutura do grid
//cabeçalho
%base-estrutura-header {
    background-color: $smc-cor-principal-06;
    // height: 25px;
    > div {
        border-right: 1px solid $smc-branco;
        //height: 25px;
        min-height: 27px;
        background-color: $smc-cor-principal-06;

        &:last-child {
            border-right: none;
        }

        p {
            padding: 3px 0 0 6px;
            font-size: 12px;
            color: $smc-cor-principal-01;
            font-weight: bold;
            margin-bottom: 0;
        }
    }
}

%base-estrutura-linha {
    // display: block;
    padding: 0;

    > div {
        border-right: 1px solid $smc-cinza-04;
        border-bottom: 1px solid $smc-cinza-04;
        height: 35px;
        background-color: $smc-branco;
        // display: inline-block;
        &:first-child {
            border-left: 1px solid $smc-cinza-04;
        }

        .po-field-container-content {
            padding: 1px 0 0 0;
        }

        p {
            margin-top: 6px;
            margin-left: 5px;
        }
    }
}
// GRID PADRÃO PARA DEMAIS EXIBIÇÕES
.smc-sga-grid-estrutura {
    padding: 0;
}
//cabeçalho
.smc-sga-grid-header {
    @extend %base-estrutura-header;
    display: block;

    > div {
        display: inline-block;
    }
}
//Linhas de conteúdo
.smc-sga-grid-linha {
    @extend %base-estrutura-linha;
    padding: 0;

    > div {
        display: inline-block;
    }
}
// ESTRUTURA CALENDÁRIO EXAPANDIDO
.smc-sga-calendario-hoje {
    button {
        padding-left: 35px;

        i {
            @extend .fa;
            @extend .fa-calendar;
            margin-right: 8px;
            margin-left: -22px;
        }
    }
}


////CORREÇÕES PÓS MIGRAÇÃO
.po-field-container-content {
    padding: 8px 0 !important;

}

.smc-fieldset-filter {

    .smc-btn-lookup-open-modal {
        i {
            margin-top: 7px !important;
        }
    }
}

.po-label {
    color: #7a7a7a !important;
    margin-right: 0;
    min-height: 0;
    float: left;
    font-weight: normal !important;
    margin-bottom: 2px !important;
    font-family: "sf_ui_displayregular" !important;
    font-size: 14px !important;
}

sga-evento-aula {
    h1 {
        clear: both;
        color: #074458 !important;
        font-family: "sf_ui_displayregular" !important;
        font-weight: normal !important;
        font-size: 2em !important;
    }
}
.smc-lookup-required:before{
    font-size:7px !important;
}

.po-multiselect-flex-item {
    .po-field-container-content, .po-field-container-input {
        padding: 0 !important;
    }

    .smc-fieldset-filter {
        .smc-btn-lookup-open-modal {
            i {
                margin-top: 7px !important;
            }
        }
    }
}

.po-field-container-input{
    padding:0 !important;
    margin-top:-2px !important;
}

.po-input:focus {
    border-color: #074458 !important;
    outline-color: #074458 !important;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: 1px;
}
.po-multiselect-input.po-multiselect-input-static,
.po-select-phosphor,
.po-input[type=number],
.po-select,
.po-select-phosphor {
    max-height: 31px !important;
    height: 31px !important;
    margin-top: -2px;
    border-radius: 3px !important;
    border-color: #b3b3b3 !important;
}
.po-select-phosphor{
    margin-top:-3px !important;
}
.po-modal-content .smc-lookup-open-command > i::before {
    line-height: 17px !important;
}

po-multiselect .po-field-icon-container-right {
    top: 9px !important;
}

.po-input:hover,
.po-multiselect-input:hover:not(.po-multiselect-input-disabled),
.po-select-phosphor:hover {
    border: 1px solid #dbeaf2 !important;
    background-color: #f2fdff !important;
}


.po-table-column-selectable .po-table-radio + .po-table-radio-label:before {
    background-color: var(--color-table-background-color-radio) !important;
    border: 1px solid var(--color-table-border-select-radio) !important;
    border-radius: 50%;
    box-shadow: inset 0 1px 8px 0 var(--color-black-alpha-10);
    content: " ";
    display: inline-block;
    height: 20px;
    margin-right: 8px;
    margin-top: -2px;
    vertical-align: middle;
    width: 20px;
}

.po-table .po-table-master-detail thead tr th, .po-table thead tr th {
    background-color: #bad6da !important;
}

.po-table .po-table-row-active td {
    background-color: #ddf9fd !important;
}

.po-radio input[type=radio]:checked, [data-a11y=AAA] .po-radio input[type=radio][p-size=small]:checked {
    background: var(--background-radial-md);
    background-color: var(--color-unchecked);
    border-color: #074458 !important;
}
.po-radio label:not(.po-label-disabled) {
    color: #074458 !important;
}
.po-button[p-kind=tertiary] {
    color: #074458 !important;
}

.po-radio input[type=radio]:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #074458 !important;
}
po-radio {
    --color-unchecked: var(--color-neutral-light-00);
    --border-color: var(--color-neutral-dark-70);
    --shadow-color-hover: var(--color-brand-01-lighter);
    --color-hover: var(--color-brand-01-dark);
    --outline-color-focused: var(--color-brand-01-darkest);
    --color-checked: #074458 !important;
    --color-unchecked-disabled: var(--color-neutral-light-30);
    --color-checked-disabled: var(--color-neutral-dark-70);
}

.po-button[p-kind=link]:hover, .po-button[p-kind=tertiary]:hover {
    color: #bad6da !important;
    background-color: transparent !important
}
.smc-lookup-input-width, .smc-lookup-corpo-acoes {
    .po-field-container-content {
        padding: 8px 0 !important;
    }
}
.po-modal-content {
    .smc-fieldset-filter {
        .po-field-container {
            .po-field-container-content{
                padding: 0 !important;
            }
        }
    }
}

smc-select {
    .po-field-container-content {
        padding: 0 !important;
    }
}

.po-input:focus {
    outline-color: #1f9fc9 !important;
    outline-width: 1px !important;
    outline-style: solid;
    outline-offset: 1px !important;
}

.po-select, [data-a11y=AAA] .po-select-aa{
    font-size:14px !important;
}