
context-menu-content {
    position: fixed !important;
    z-index: 9999 !important;
    display: block !important;
}

.ngx-contextmenu {
    position: fixed !important;
    z-index: 9999 !important;

    ul.ngx-contextmenu--dropdown-menu {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
        position: fixed !important;
        z-index: 9999 !important;
        background-color: white !important;
        border: 1px solid rgba(0, 0, 0, 0.18) !important;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18) !important;
        min-width: 160px !important;
        padding: 5px 0 !important;
    }

    li {
        display: block !important;

        [role='menuitem'] {
            display: block !important;
            padding: 6px 20px !important;
            cursor: pointer !important;
            color: #70757e !important;
            white-space: nowrap !important;

            &:hover {
                background-color: #f8f8f8 !important;
                color: #5a6473 !important;
            }
        }
    }
}

select.po-select:focus + .po-select-container {
    .po-select-button {
        border: 1px solid #dbeaf2 !important;
        background-color: #f2fdff !important;
        outline: none;
    }
}

.smc-italico {
    font-style: italic;
}
// ESTRUTURA
.smc-sga-calendario-navegacao {
    text-align: center;
    float: right;
    margin-top: -48px;

    .po-select-button {
        line-height: 15px;
        height: 14px;
        padding-top: 4px;
        padding-bottom: 12px;
    }

    .po-select-container {
        padding: 0;
    }
}

// altura do campo para agendamento

.fill-height {
    height: 100%;
}

.smc-sga-calendario-navegacao-setas {
    text-align: center;

    p {
        display: inline-block;
        padding: 0 5px;
    }
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
    color: $smc-cor-secundaria-01;
    margin-top: -2px;
    margin-bottom: 0;
    font-size: 1.3em;
    font-weight: bold;
}

@mixin estrutura-botao-calendario {
    button {
        border: none;
        font-size: 0;

        i {
            @extend .fa;
            color: $smc-cor-secundaria-01;
            font-size: 16px;

            &:hover {
                border: none;
                background-color: transparent !important;
                color: $smc-cor-secundaria-03 !important;
            }
        }

        &:hover {
            border: none;
            background-color: transparent !important;
        }
    }
}

.smc-btn-calendario-botao-proximo {
    @include estrutura-botao-calendario;

    button {
        i {
            @extend .fa-chevron-right;
        }
    }
}

.smc-btn-calendario-botao-anterior {
    @include estrutura-botao-calendario;

    button {
        i {
            @extend .fa-chevron-left;
        }
    }
}

.cal-weekend,
.cal-day-columns .cal-day-column:first-child div,
.cal-day-columns .cal-day-column:last-child div {
    background-color: #ededed;
}

.cal-day-column.ng-star-inserted:last-child {
    background-color: #ededed;

    > .cal-hour.cal-hour-odd.ng-star-inserted {
        background-color: #ededed;
    }
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number,
.cal-week-view .cal-header.cal-weekend span {
    color: $smc-cinza-07;
}

.cal-month-view .cal-day-number {
    opacity: 1;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
}

.cal-month-view .cal-day-cell.cal-today,
.cal-header.cal-today.ng-star-inserted {
    background-color: #a6d2eb;
    opacity: 1;

    span,
    b {
        opacity: 1;
        color: $smc-cor-principal-01;
    }
}

.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
    opacity: 0.4;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
    color: $smc-cor-principal-01;
}

.cal-month-view .cal-cell-top {
    min-height: 20px;
}

.cal-cell,
.cal-header,
.cal-time.ng-star-inserted,
.cal-time {
    font-size: 12px;
    color: $smc-cinza-07;
}

// 
.cal-week-view .cal-time-label-column,
.cal-week-view .cal-time {
    width: 50px;
}

.cal-week-view .cal-day-headers {
    padding-left: 50px;
    // position: sticky;
    //  top: 68px;
    // z-index: 30;
    background-color: #fff;
}
//select do calendario
.po-select-button {
    text-align: left;

    span {
        color: $smc-preto;
        font-family: "segoe_uiregular";
    }
}

.po-select-item-selected .po-select-item {
    background-color: $smc-cor-secundaria-01;
    color: $smc-branco;
}
//fim do select calendrio
// REA DE DISCIPLINA
.smc-sga-agendamento-cargahoraria {
    display: block;
    padding-left: 3px !important;
    background-color: #fde9cb;
    font-size: 11px !important;
    margin: 4px 0 2px 0;
}

.smc-sga-agendamento-cargahoraria-completa {
    background-color: #c6e7d4 !important;
}

.smc-sga-agendamento-cargahoraria.ng-star-inserted {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.smc-sga-agendamento-lista-disciplina-agrupamento {
    h3 {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }
}

.smc-sga-agendamento-lista-disciplina-check {
    margin-left: -11px;
    height: 100%;
    clear: both;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    input {
        all: unset;
        border: 1px solid #b6bdbf;
        width: 34px;
        height: 13px;
        padding: 0 6px;
        display: inline-block;

        &:focus {
            width: 34px;
            height: 13px;
            padding: 0 6px;
            outline-offset: 0;
        }
    }

    input:checked {
        background-color: #000;
        width: 28px;
        height: 8px;
        padding: 0 4px;
        outline: #b6bdbf 1px solid;
        border: 3px solid #fff;
    }
}

.smc-sga-agendamento-lista-disciplina-descricao {
    padding-right: 0;

    span {
        //float:left;
        font-size: 12px !important;
    }
}

.smc-sga-agendamento-lista-disciplina {
    .ng-star-inserted {
        border-bottom: 1px solid $smc-cinza-03;
        display: inline-block;
        padding: 5px 0;
        width: 100%;
    }

    .smc-size-md-1 {
        padding: 0;
    }

    .smc-btn-visualizar-ico {
        border: none;
        padding: 0 !important;
        background-color: transparent;
        margin-top: -5px;

        i:before {
            font-size: 16px;
        }

        &:hover {
            color: $smc-cor-secundaria-01;
        }
    }

    span {
        padding: 0;
        font-size: 13px;
    }

    li {
        list-style: none;
        list-style-type: none;
        padding: 0;
    }

    .smc-sga-agendamento-bullet {
        border-radius: 50px;
        width: 7px;
        height: 7px;
        display: inline-block;
        margin-bottom: 2px;
        margin-right: 2px;
    }
}
// tooltip
.po-tooltip,
.po-tooltip-arrow {
    background-color: $smc-cor-principal-02;
    z-index: 51;
}

.po-tooltip-content {
    font-family: "segoe_uiregular";
    font-size: 13px;
    line-height: 18px;
    color: #fff;
}
//BOLINHAS dos agendamentos
.smc-sga-agendamento-bullet {
    border-radius: 50px;
    width: 15px;
    height: 15px;
    display: block;
    margin-top: 5px;
}
// listagem de itens da aba lista de agendamento
.smc-sga-agendamento-divisao-turma {
    margin-top: 15px;
}

.smc-sga-agendamento-lista-itens {
    min-height: 30px;
    max-height: 360px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.smc-sga-agendamento-total-lista {
    border: 2px solid $smc-cinza-03;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;

    label {
        display: block;
        clear: both;
        width: 100%;
        text-align: center;
        color: $smc-cor-principal;
        font-size: 12px;
    }

    p {
        clear: both;
        font-size: 16px;
        margin-bottom: 0;
    }
}
//LOOKUP
.smc-lookup-open-command > i::before {
    line-height: 14px;
    top: -2px;
    position: relative;
    display: block;
}

.smc-lookup {
    width: 100%;

    .smc-lookup-open-command {
        top: 0;
    }

    .smc-lookup-pesquisar {
        position: absolute;
        right: 35px;
        top: 7px;
    }

    .smc-btn-limpar-ico {
        top: 12px !important;
        right: 40px !important;
    }
}

.smc-lookup-resultado {
    min-height: 40px;
    max-height: 100px;
    overflow-y: auto;
    padding-left: 5px;
    z-index: 1000;
    border: 1px solid #cecece;
    position: absolute;
    top: 52px;
    width: 99%;
    background-color: $smc-branco;

    .smc-ul-resultado {
        .smc-ul-resultado-item {
            display: block;
            min-height: 25px;
            padding: 5px !important;
            cursor: pointer;

            &:hover {
                background-color: #e5f5f6 !important;
            }
        }
    }
}
//CONFIGURA DAS ABAS
.po-tab-button {
    width: auto;
    display: inline-block;
}

.po-tab-button-md {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: $smc-branco;
    border: solid 3px $smc-cinza-04;
    float: left;
    margin: 0 5px 0 0;
    position: relative;
    z-index: 0;
    padding: 15px;
    cursor: pointer;
    color: #999;
    font: normal normal bold 16px/18px segoe_uiregular;
    width: auto;
}

.po-tab-button-active {
    box-shadow: none;
    border-top: 3px solid #074458 !important;
    z-index: 3;
    border: solid 3px $smc-cinza-04;
    cursor: pointer;
    border-bottom: none;
    margin-bottom: 0;
    color: #074458;
    font: normal normal bold 16px/18px segoe_uiregular;
}

.po-tabs-content {
    width: 100%;
    display: inline-block;
    border: solid 3px $smc-cinza-04;
    margin-top: -3px;
    padding-bottom: 10px;
}
//////////////////////////////// DAQUI PARA BAIXO SOMENTE ITENS DO PROFESSOR VERIFICAR, QUANDO PUDER
.po-button-primary {
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    font-size: 12px;
    margin: 1px 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-repeat: no-repeat;
    height: 31px;
    padding: 2px 8px 0 8px;
    background-color: #0083a2;
    border: solid 1px #0083a2;
    color: #fff !important;
}

.po-button-primary:hover {
    background-color: #bad6da;
}

//cores dos textos desabilitados
.po-input:disabled,
.po-select-button-disabled > span,
.po-field-icon-disabled,
.smc-sga-ico-desabilitado {
    color: #999 !important;
}

.po-input[readonly],
.smc-sga-desabilitado input {
    background-color: var(--color-select-background-color-disabled);
    border: 1px solid var(--color-select-border-button-disabled);
    color: var(--color-select-button-disabled);
    pointer-events: none;
}

.po-multiselect-field.po-multiselect-field-disabled .po-disclaimer-label {
    color: #999 !important;
    background-color: $smc-cinza-04;
}

po-field-container-bottom {
    .po-field-container-bottom-text-error {
        position: absolute;
        font-size: 10px;
        top: 45px;
        border-radius: 3px;
        background-color: #ffe1e0;
        width: 97%;
        margin-left: -1px;
        padding: 2px 2px;
        z-index: 1;
        border: 1px solid #b94a48;
        line-height: 9px;
    }
}

.po-field-container-bottom-text-error {
    position: absolute;
    font-size: 8px;
    top: 23px;
    border-radius: 3px;
    background-color: #ffe1e0;
    width: 100%;
    margin-left: -5px;
    padding: 0 2px;
    z-index: 1;
}

.po-field-container-icon-error {
    display: none;
}

.po-button {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.smc-legend-hexagon-fill:before {
    font-size: 13px;
    display: contents;
}

.po-field-icon {
    color: $smc-preto;
}

.po-field-container-content.po-multiselect-show > .po-input {
    border: 1px solid $smc-cinza-02 !important;
}
//
//.po-multiselect-checkbox-input-checked + .po-multiselect-checkbox-label:before,
//.po-field-container-content > input.po-clickable {
//  background-color: $smc-branco !important;
//  border: 1px solid #b3b3b3 !important;
//  color: $smc-preto !important;
//  padding-top: 0;
//}

po-multiselect input[readonly] {
    background-color: $smc-branco !important;
    border: 1px solid #b3b3b3 !important;
    color: $smc-preto;
}

po-multiselect input[readonly][disabled] {
    background-color: var(--color-select-background-color-disabled) !important;
    border: 1px solid var(--color-select-border-button-disabled) !important;
    color: var(--color-select-button-disabled) !important;
    pointer-events: none;
}

.po-field-container-content {
    .po-multiselect-field {
        margin-top: -4px;
    }
}
//GRADE
//BOTO DE ALERTAS + CONTADOR DE ALERTAS
.smc-sga-painelalertas-estrutura-botao {
    position: fixed;
    right: 4px;
    margin-top: 75px;
    z-index: 9;
    display: block;
}

.smc-sga-painelalertas-botao {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #0083a2;
    font-size: 0;
    @extend .fa;
    @extend .fa-bell-o;
    color: $smc-branco;

    &:before {
        font-size: 20px;
        padding: 9px;
        margin-top: -1px;
        display: block;
    }

    &:hover {
        color: $smc-cor-secundaria-02;
        text-decoration: none;
    }
}

.smc-sga-painelalertas-totalizador {
    padding: 1px;
    width: 12px;
    height: 14px;
    background-color: red;
    color: #ffffff;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    left: 23px;
    top: 20px;
}

.smc-sga-painelalertas {
    margin-top: 90px;
    background-color: $smc-cinza-02;
    border-radius: 5px;
    border: 1px solid $smc-cinza-04;
    padding: 15px;
    min-height: 50px;
    max-height: 220px;
    z-index: 2;
    position: fixed;
    right: 0;

    h3 {
        font-size: 16px;
        margin-bottom: 10px;
        color: $smc-cor-secundaria-01;

        &:before {
            @extend .fa;
            @extend .fa-bell-o;
            margin-right: 10px;
        }
    }

    .smc-sga-painelalertas-itens {
        overflow-x: auto;
        max-height: 150px;
    }

    ul {
        margin-bottom: 10px;
        margin-left: 30px;
    }

    span {
        font-size: 12px;
    }
}
// AJUSTES NO GRID PADRO ANGULAR
.po-table-header {
    padding: 12px 10px;
    background-color: #bad6da !important;
    height: 28px !important;
    vertical-align: middle;

    span {
        font-size: 12px !important;
        text-align: left;
        color: #004058;
        font-weight: bold;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
}

.po-table .po-table-header {
    border-bottom: none;
}

.po-table-column {
    vertical-align: middle !important;
    min-height: 42px !important;
    padding: 5px !important;
    color: #7a7a7a !important;

    span {
        color: #7a7a7a;
    }
}
//BOTOES SOMENTE CONE
@mixin sga-botao-somente-icone {
    &:before {
        @extend .fa;
        color: #004058;
        font-size: 16px;
    }
}

.po-icon.po-icon-eye.po-clickable {
    @include sga-botao-somente-icone;

    &:before {
        @extend .fa-eye;
    }
}

.po-icon.po-icon-edit.po-clickable {
    @include sga-botao-somente-icone;

    &:before {
        @extend .fa-pencil;
    }
}

.po-icon.po-icon-delete.po-clickable {
    @include sga-botao-somente-icone;

    &:before {
        @extend .fa-trash-o;
        color: $smc-vermelho !important;
    }
}
// CORES DOS AGENDAMENTOS
@mixin criarAgendamento($nomeClass, $cores) {
    @for $i from 1 through length($cores) {
        .smc-sga-agendamento-#{$nomeClass} {
            background-color: nth($cores, $i) !important;
        }
    }
}

@include criarAgendamento("cor1", #0c9abe);
@include criarAgendamento("cor2", #56b96b);
@include criarAgendamento("cor3", #ab43c8);
@include criarAgendamento("cor4", #abc249);
@include criarAgendamento("cor5", #ea9b3e);
@include criarAgendamento("cor6", #2c85c8);
@include criarAgendamento("cor7", #c64840);
@include criarAgendamento("cor8", #06a6a5);
@include criarAgendamento("cor9", #2c43c8);
@include criarAgendamento("cor10", #ab4391);
@include criarAgendamento("cor11", #00b28e);
@include criarAgendamento("cor12", #5843c8);

.smc-sga-calendario-agendamento {
    border-radius: 3px;
    margin-bottom: 2px;
    font-size: 12px;
    color: #000;
    overflow: hidden;
    display: grid;

    span {
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: auto;
        display: block;
        overflow: hidden;
    }
}

.smc-sga-calendario-agendamento-dia {
    display: inline-block;
    width: 100%;
}

.smc-sga-agendamento-desabilitado {
    background-color: #ced1d2;
    color: #848484;
    border: 1px solid #bfbcbc;
    padding: 0 3px;

    span {
        color: #848484 !important;
    }
}

/// EVENTOS
.cal-week-view .cal-all-day-events .cal-events-row {
    height: 18px;
    margin-left: 50px;
    margin-bottom: 3px;
    margin-top: -2px;
}

.cal-all-day-events {
    background-color: #cce9f1;

    .cal-day-column.ng-star-inserted:last-child {
        background-color: #cce9f1;
    }
}

.cal-event-container .cal-starts-within-week .cal-ends-within-week {
    margin-top: -1px;
}
//.cal-event-container.ng-star-inserted + .cal-event-container.ng-star-inserted {
//  display: block;
//
//  .smc-sga-agendamento-desabilitado {
//    margin-top: 20px;
//    top: 137px;
//    background-color: chartreuse;
//  }
//}
//
//.cal-event-container.ng-star-inserted + .cal-event-container.ng-star-inserted + .cal-event-container.ng-star-inserted {
//  display: block;
//
//  .smc-sga-agendamento-desabilitado {
//    margin-top: 40px;
//    top: 158px;
//    background-color: deeppink;
//  }
//}
//
//}

.smc-sga-calendario-mes {
    padding-left: 35px;

    i {
        @extend .fa;
        @extend .fa-th;
        margin-right: 8px;
        margin-left: -22px;
    }
}

.smc-sga-calendario-mes-destaque,
.smc-sga-calendario-semana-destaque {
    button,
    button:focus {
        background-color: $smc-cor-principal !important;
        color: $smc-branco;
    }
}

.smc-sga-calendario-semana {
    padding-left: 35px;

    i {
        @extend .fa;
        @extend .fa-th-list;
        margin-right: 8px;
        margin-left: -22px;
        transform: rotate(90deg);
    }
}

mwl-calendar-week-view-event {
    .smc-sga-calendario-agendamento {
        height: 100%;

        .cal-event-title {
            font-size: 12px;
            color: #000;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: auto;
            display: block;
            overflow: hidden;
        }
    }
}
// CONES QUE IDENTIFICAM OS DETALHES DOS AGENDAMENTOS NA MODAL
@mixin sga-icones-dos-detalhes-dos-agendamentos {
    color: $smc-preto;

    &:before {
        color: $smc-cor-secundaria-01;
        margin-right: 5px;
        @extend .fa;
    }
}

.smc-sga-agendamento-turma {
    margin-top: 10px;
    // @include sga-icones-dos-detalhes-dos-agendamentos;
    font-size: 18px;
    color: $smc-cor-principal-02;
    margin-bottom: 15px;

    &:before {
        //  @extend .fa-file-text-o;
    }
}

.smc-sga-agendamento-separador {
    border-bottom: 1px solid #cecece;
    clear: both;
    min-height: 55px;
    padding-top: 10px;

    &:hover {
        background-color: #ebeaea;
    }
}

.smc-sga-agendamento-separador-data {
    border-bottom: 1px solid #cecece;
    clear: both;
    min-height: 65px;
    padding-top: 10px;

    &:hover {
        background-color: #ebeaea;
    }
}

.smc-sga-agendamento-data {
    @include sga-icones-dos-detalhes-dos-agendamentos;
    margin-left: 2px;
    margin-bottom: 10px;
    margin-top: 5px;

    &:before {
        @extend .fa-calendar;
    }
}

.smc-sga-agendamento-situacaoaula {
    margin-left: 23px;
    margin-bottom: 0;
    margin-top: -10px;
}

.smc-sga-agendamento-situacaoaula-label {
    font-size: 12px;
    color: $smc-cinza-08;
}

.smc-sga-agendamento-local {
    @include sga-icones-dos-detalhes-dos-agendamentos;
    margin-left: 2px;
    margin-bottom: 10px;
    margin-top: 5px;

    &:before {
        margin-right: 8px;
        margin-left: 2px;
        @extend .fa-map-marker;
    }
}

.smc-sga-agendamento-professor {
    margin-left: 0;
    margin-bottom: 10px;
    color: $smc-preto;
    margin-top: 5px;
    margin-right: 2px;

    li:first-child {
        &:before {
            margin-left: -20px;
            color: $smc-cor-secundaria-01;
            margin-right: 5px;
            @extend .fa;
            @extend .fa-users;
        }
    }

    li {
        padding-left: 20px;
        list-style-type: none;
    }
}
//TODO: 
.smc-sga-agendamento-professor-substituto {
    margin-left: 0;
    margin-bottom: 10px;
    color: $smc-preto;
    margin-top: 5px;
    margin-right: 2px;

    li:first-child {
        &:before {
            margin-left: -20px;
            color: $smc-cor-secundaria-01;
            margin-right: 5px;
            @extend .fa;
            @extend .fa-retweet;
        }
    }

    li {
        padding-left: 20px;
        list-style-type: none;
    }
}

.smc-btn-substituto-ico-destaque {
    font-size: 0;
    // margin-right: 6px;
    padding: 0 9px 0 9px;

    &:before {
        line-height: 1;
        display: block;
        font-size: 10px;
        margin-top: 13px;
        position: absolute;
        height: 12px;
        z-index: 1;
        width: 12px;
        border-radius: 10px;
        right: 9px;
        @extend .fa;
        @extend .fa-refresh;
        background-color: $smc-branco;
    }

    i:before {
        line-height: 0;
        display: block;
        font-size: 16px;
        margin-top: 13px;
        left: -3px;
        position: relative;
        @extend .fa;
        @extend .fa-user;
    }

    &:hover {
        i:before {
            color: $smc-branco;
        }

        &:before {
            background-color: #1f9fc9;
        }
    }

    &[disabled] {
        &:before {
            background-color: #e5e5e5 !important;
        }

        &:hover {
            :before {
                color: #b3b3b3 !important;
            }

            i:before {
                color: #b3b3b3 !important;
            }
        }
    }
}

// DETALHE EDVEL
.smc-detalhe-botao-adicionar {
    margin-top: -36px;
    float: right;

    .smc-btn-novo-ico-destaque {
        > i {
            &:before {
                line-height: 22px;
            }
        }
    }
}

.smc-sga-fieldset-agendamento {
    margin-top: 10px;

    legend {
        font-size: 18px;
    }

    .smc-btn-novo-ico {
        > i {
            &:before {
                line-height: 22px;
            }
        }
    }
}

.smc-sga-fieldset-secundario-agendamento {
    legend {
        font-size: 16px;
    }
}
// DETALHE EDITVEL
.smc-sga-detalhe-botoes {
    padding-top: 20px;
}

.smc-sga-mestre-tabular {
    .ng-star-inserted:first-child {
        .po-checkbox {
            margin-top: 21px;

            label {
                font-size: 13px;
            }
        }
    }

    > .ng-star-inserted + .ng-star-inserted {
        .po-field-container-title {
            display: none;
        }

        .smc-sga-detalhe-botoes {
            padding-top: 6px;
        }

        .po-checkbox {
            margin-top: 7px;

            label {
                font-size: 13px;
            }
        }
    }
}
// CLASSE PARA INCLUSO DE TEXTO DO CAMPO "REPETIR A CADA..."
@mixin sga-estrutura-repeticao-recorrencia {
    &:before {
        display: block;
        position: absolute;
        left: 45%;
        top: 26px;
        z-index: 1;
        color: $smc-cinza;
    }

    input {
        width: 42% !important;
    }
}

.smc-sga-agendamento-repetir-semana {
    @include sga-estrutura-repeticao-recorrencia;

    &:before {
        content: "semana(s)";
    }
}

.smc-sga-agendamento-repetir-mensal {
    @include sga-estrutura-repeticao-recorrencia;

    &:before {
        content: "mes(es)";
    }
}
// DATEPICKER
.po-calendar-box-foreground-today {
    color: $smc-branco;
    opacity: 1;
}

.po-calendar-box-background-today {
    background-color: $smc-cor-secundaria-01 !important;
    opacity: 1;
}

.po-calendar-content {
    line-height: 22px;
    border: 1px solid #cecece;
}

.po-calendar {
    height: 260px;
    margin-top: -9px;
}

.po-calendar-nav-title {
    span {
        color: $smc-preto;
    }
}

.po-calendar-content .po-calendar-day {
}

po-datepicker {
    .po-field-icon-container-right {
        position: absolute;
        z-index: 3;
        top: 23px;
        right: 6px;
    }

    .po-field-container-content {
        &:before {
            position: absolute;
            z-index: 1;
            right: 8px;
            top: 16px;
            color: $smc-cor-secundaria-01;
            @extend .fa;
            @extend .fa-calendar;
        }
    }

    .po-icon-calendar {
        &:before {
            color: transparent;
        }
    }
}

.po-calendar-box-background-selected {
    background-color: $smc-cor-principal-01;

    span {
        color: $smc-branco;
    }
}

.smc-sga-agendamento-diasemana {
    .po-radio-group-item,
    .po-checkbox-group-item {
        width: 12% !important;
    }
}

.smc-sga-agendamento-diasemana-edit {
    .po-radio-group-item,
    .po-checkbox-group-item {
        width: 15% !important;
    }
}

.smc-sga-agendamento-radio-vertical {
    .po-radio-group-item {
        padding: 0 8px 0 0;
        line-height: 14px;
        min-height: 22px;
    }

    .po-radio-group-input + .po-radio-group-label:before {
        height: 18px;
        top: -1px;
        width: 18px;
    }
}
////////////////////////////////////
// PASSAR PARA ESTILO GERAL DO ANGULAR
//CRIANDO ESTRUTURA PARA CAMPO OBRIGATRIO
[p-required='true'] .po-field-container-title,
[s-required='true'] .po-field-container-title,
.smc-input-required .po-field-container-title,
.smc-datapicker-required, //OBRIGATORIEDADE DO DATEPICKER
.smc-lookup-required {
    .po-field-title {
        padding-left: 10px;
    }

    &:before {
        @extend .fa;
        @extend .fa-asterisk;
        font-size: 7px;
        position: absolute;
        color: #00d0d0;
        margin: 4px 2px -2px 0;
    }
}
//ELEMENTO QUE CONFIGURA O SELECT
smc-select {
    .po-select-button {
        line-height: 13px;
        height: 13px;
        box-shadow: none;
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 1366px) {
    .po-select-button {
        line-height: 13px !important;
        height: 13px !important;
    }

    .po-input,
    .po-input[type="number"] {
        height: 31px !important;
        min-height: 31px !important;
    }
}

.po-select-button {
    padding: 9px 44px 8px 16px !important;
    height: 12px !important;
}

.po-input,
.po-input[type="number"],
.po-select-button {
    font-size: 14px !important;
}

.po-input[type="number"] {
    height: 31px !important;
}

.po-input {
    height: 43px !important;
}

po-multiselect {
    .po-clickable {
        padding-top: 5px !important;
        padding-left: 16px;
    }

    .po-field-icon-container-right {
        top: 24px;
    }
}
// CLASSE PARA ESTRUTURAR A MODAL DO LOOKUP
@mixin botoes-footer-modal-lookup {
    span {
        font-size: 12px;
    }

    .po-button {
        height: 31px;
        padding: 2px 8px 0 8px;

        .po-button-label {
            padding-left: 15px;

            &:before {
                font-size: 18px;
                margin-left: -15px;
                margin-right: 6px;
                @extend .fa;
            }
        }
    }
}

.smc-sga-estrutura-lookup-modal {
    .po-field-title,
    .po-table-column-cell span {
        font-size: 14px !important;
    }

    .smc-btn-limparenviar-ico {
        line-height: 22px;
    }

    @include botoes-footer-modal-lookup;

    .po-button-modal-first-action {
        .po-button {
            background-color: #fff !important;
            border: solid 1px #074458 !important;
            color: #074458 !important;

            &:hover {
                background-color: #fff;
                border: solid 1px #1f9fc9 !important;
                color: #1f9fc9 !important;
            }

            .po-button-label {
                &:before {
                    @extend .fa-times-circle;
                }
            }
        }
    }

    .po-button[p-kind="secondary"] {
        background-color: #074458 !important;
        border: solid 1px #074458 !important;
        color: #fff !important;

        &:hover {
            background-color: #fff !important;
            border: solid 1px #1f9fc9 !important;
            color: #1f9fc9 !important;
        }

        .po-button-label {
            &:before {
                @extend .fa-check;
            }
        }
    }
}
// Ajuste apenas para lookups dentro da modal
.po-modal-content {
    width:90% !important;
    .smc-lookup-open-command > i::before {
        line-height: 25px;
    }
}

.po-modal-footer {
    padding: 5px 8px 15px 8px;

    .smc-buttonset-horizontal-primario {
        width: 100%;
    }
}
// AJUSTE TELA MAXIMIZADA
.smc-sga-tela-maximizada {
    .cal-week-view .cal-day-headers {
        top: -8px;
    }

    .po-tabs-content {
        position: relative;
        overflow: auto;
        max-height: calc(100vh - 100px);
        padding-bottom: 10px;
    }

    .smc-sga-calendario-navegacao {
        position: fixed;
        z-index: 1000;
    }

    h2 + div {
        margin-top: -15px;
    }
}

.cdk-overlay-container {
    z-index: 51 !important;
}
// Padronizo select simples
.po-select-item {
    color: #000 !important;
}

.ng-valid .po-input:focus {
    border: 1px solid #dbeaf2 !important;
    background-color: #f2fdff !important;
}

@media screen and (max-width: 1366px) {
    .po-select-item {
        padding: 2px 16px !important;
    }
}

.po-select-item {
    padding: 5px 16px;
}

.po-select-content {
    border-radius: 0px;
    margin-top: -10px;
}

.po-multiselect-item:hover,
.po-multiselect-item-selected > .po-multiselect-item {
    background-color: $smc-branco !important;
}

@media screen and (max-width: 1366px) {
    .po-multiselect-item {
        padding: 0 8px !important;
    }
}
// BOTO SIMULAR AGENDAMENTOS
.smc-sga-btn-simular-agendamento {
    float: left;
    margin-bottom: -8px;

    i {
        margin-right: 5px;
        font-size: 16px;
        line-height: 20px;
        @extend .fa;
        @extend .fa-external-link;
    }
}
// VISUALIZAR
.smc-sga-agendamento-titulo {
    margin-bottom: 10px;
}
// PAGINADOR
.smc-pager-numero-ativo {
    input {
        margin-top: -5px !important;
    }
}

.smc-pager-numero-itens {
    padding-top: 9px;

    .smc-select {
        margin-top: -14px;
        float: right;
    }
}
/**** Tree view ****/
.po-icon.po-icon-arrow-down.po-tree-view-item-header-button-icon.po-tree-view-item-header-button-icon-transform {
    &:before {
        font-size: 14px;
        color: $smc-preto;
        margin-top: 4px;
        display: block;
        @extend .fa;
        @extend .fa-minus-square-o;
    }
}

.po-icon.po-icon-arrow-down.po-tree-view-item-header-button-icon {
    &:before {
        font-size: 14px;
        color: $smc-preto;
        line-height: 20px;
        @extend .fa;
        @extend .fa-plus-square-o;
    }
}

.po-tree-view-item-header-button:focus {
    border-radius: 0;
    outline: none;
    outline-offset: 0;
}

.po-tree-view-item-header {
    display: table;
    height: 20px;
    min-height: 20px;
    padding: 0 16px;
}

.po-container-no-shadow {
    border: none;
}

.po-tree-view-item {
    border-bottom: none;
    min-height: 25px;

    label {
        color: $smc-preto;
    }
}
//RADIOBUTTON
.po-radio-group-input-checked + .po-radio-group-label:before {
    background-color: $smc-branco;
    color: $smc-preto;
}
//sele nica da treeview
.smc-tree-view-item-single-item {
    .po-checkbox-input + .po-checkbox-label:before,
    .po-checkbox-input-checked + .po-checkbox-label:before,
    .po-checkbox-input-indeterminate + .po-checkbox-label:before {
        border-radius: 30px;
        background-color: $smc-branco;
        color: $smc-preto;
    }
}

.po-checkbox-label:focus:before,
.po-checkbox-label:focus:before {
    box-shadow: none;
}

.po-radio-group-input:focus + .po-radio-group-label:before {
    border: 1px solid #dbeaf2 !important;
}
// sele mltipla na treeview
.po-tree-view-item-header-checkbox.ng-untouched.ng-pristine.ng-valid.ng-star-inserted,
.po-tree-view-item-header-checkbox.ng-untouched.ng-valid.ng-star-inserted.ng-dirty {
    .po-checkbox-input-checked + .po-checkbox-label:before,
    .po-checkbox-input-indeterminate + .po-checkbox-label:before {
        background-color: $smc-branco;
        border: 1px solid var(--color-checkbox-border-input-active);
        box-shadow: none;
        color: $smc-preto;
    }
}

.smc-sga-agendamento-feriado {
    background-color: #ededed !important;
}
// MENSAGEM DE AGENDAMENTO
.smc-sga-mensagem-turma-preenchida {
    width: 60%;
    border: 1px solid #e4a445;
    margin-left: 15%;
    position: absolute;
    top: -15px;
    z-index: 4;
    background-color: #fcf8e3;

    p {
        font-size: 11px;
        margin: 3px;
        text-align: center;
        line-height: 12px;
        color: #a38147;
    }

    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-left: 30px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #e4a445;
        position: absolute;
    }
}

.smc-tree-view-texto-selecionado,
.smc-tree-view-texto-selecionado label {
    font-weight: bold;
}

%icone-destaque {
    @extend .fa;
    @extend .fa-circle;
    color: $smc-cor-secundaria-03;
    font-size: 11px;
}

.smc-sga-mensagem-evento-aula {
    border: 1px solid $smc-cor-secundaria-03;
    float: right;
    margin-top: 3px;
    margin-right: 7px;

    &:after {
        display: inline-block;
        width: 0;
        height: 0;
        border-color: transparent transparent transparent $smc-cor-secundaria-03;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        content: "";
        position: absolute;
        top: 7px;
        right: -5px;
    }

    p {
        font-size: 12px;
        margin-top: 4px;
        margin-bottom: 5px;
        color: $smc-preto;
    }

    &:before {
        @extend %icone-destaque;
        float: left;
        margin: 7px 8px 5px 5px;
    }
}
// LEGENDA DA DIVISO
/*.smc-sga-legenda-local{
    border:1px solid red;
    width:100%;
    display:block;
    margin-bottom:2px;

    h2{

    }
    p{
font-size:12px;
    }
}*/
//PADRO DE MENSAGENS PARA BOTES
@mixin padrao-mensagem-local($smc-cor-borda, $smc-cor-background, $smc-cor-icone, $smc-cor-seta, $smc-cor-texto) {
    border: 1px solid $smc-cor-borda;
    min-width: 17%;
    max-width: 45%;
    display: inline-block;
    margin-top: -2px;
    margin-right: 7px;
    padding: 3px 10px 0 0;
    background-color: $smc-cor-background;
    // min-width: 20%;
    &:before {
        @extend .fa;
        color: $smc-cor-icone;
        font-size: 20px;
        float: left;
        margin: -3px 4px 2px 4px;
        position: relative;
        top: 50%;
        transform: translateY(25%);
    }

    &:after {
        display: inline-block;
        width: 0;
        height: 0;
        border-color: transparent transparent transparent $smc-cor-seta;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        content: "";
        position: relative;
        top: -12px;
        right: -16px;
        float: right;
    }

    p {
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: -2px;
        color: $smc-cor-texto;
    }

    a {
        font-style: italic;
        color: $smc-cor-texto;
        font-size: 12px;
        display: inline-block;
        width: 60px;
        text-decoration: underline;

        &:hover {
            font-weight: bold;
        }
    }
}

.smc-sga-mensagem-local-informa {
    @include padrao-mensagem-local( $smc-cor-secundaria-03, $smc-branco, $smc-cor-secundaria-03, $smc-cor-secundaria-03, $smc-mensagem-informa-cor-texto );

    &:before {
        @extend .fa-info-circle;
    }
}

.smc-sga-mensagem-local-alerta {
    @include padrao-mensagem-local( $smc-mensagem-aviso-cor-borda, $smc-mensagem-aviso-cor-background, $smc-mensagem-aviso-cor-borda, $smc-mensagem-aviso-cor-borda, $smc-mensagem-aviso-cor-texto );

    &:before {
        @extend .fa-exclamation-circle;
    }
}

.smc-sga-mensagem-local-sucesso {
    @include padrao-mensagem-local( $smc-mensagem-sucesso-cor-borda, $smc-mensagem-sucesso-cor-background, $smc-mensagem-sucesso-cor-borda, $smc-mensagem-sucesso-cor-borda, $smc-mensagem-sucesso-cor-texto );

    &:before {
        @extend .fa-check-circle;
    }
}

.smc-sga-mensagem-local-erro {
    @include padrao-mensagem-local( $smc-mensagem-erro-cor-borda, $smc-mensagem-erro-cor-background, $smc-mensagem-erro-cor-borda, $smc-mensagem-erro-cor-borda, $smc-mensagem-erro-cor-texto );

    &:before {
        @extend .fa-times-circle;
    }
}

@keyframes loadingTransicao {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.smc-sga-agendamento-processando {
    &:before {
        content: "";
        animation-duration: 1.25s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: loadingTransicao;
        animation-timing-function: linear;
        transition-property: opacity, left;
        background: linear-gradient(to right, #eeeeee 10%, #d6d4d4 25%, #eeeeee 50%);
        background-size: 800px 104px;
        position: relative;
        margin-bottom: -33px;
        opacity: 0.8;
    }
}

.smc-sga-datepicker-horizontal {
    margin-top: -13px;
    margin-bottom: -7px;

    po-field-container-bottom .po-field-container-bottom-text-error {
        top: 34px;
        margin-left: -57%;
        width: 60%;
    }

    .po-field-container-content {
        width: 60%;
        float: left;
        display: inline-block;
        margin-left: 7px;
    }

    .po-field-container-title {
        float: left;
        width: auto;
        margin-top: 15px;
    }

    &.smc-datapicker-required:before {
        margin: 20px 2px -2px 0;
    }
}

.smc-header-tipo-primary {
    padding: 10px 15px 1px 15px;
}

.smc-sga-lista-bullet {
    padding-left: 20px;
    margin-bottom: 10px;

    li {
        list-style-type: disc;

        &::marker {
            color: $smc-cor-secundaria-01;
        }
    }
}
/// MEGAMENU  -ADEQUA PARA FUNCIONAMENTO CORRETO

.smc-megamenu-nomeagrupamento {
    padding-left: 0 !important;
}

.smc-megamenu-estruturaprincipal {
    padding-top: 14px;
}

.smc-megamenu-nomemenu h3 {
    margin-top: 19px;
}
// FIM MEGAMENU
// TREEVIEW
.po-tree-view-item-header-padding {
    padding-left: 0;
}

.po-tree-view-item-header {
    .po-checkbox {
        margin-left: -7px;
    }
}

.smc-sga-msg-instrucao {
    width: auto;
    background-color: $smc-cor-principal-07;
    background-repeat: no-repeat;
    background-position: 5px -2px;
    padding: 5px 10px 5px 30px;
    border-radius: 2px;
    margin-bottom: 5px;
    display: inline-block;
    // margin-left: 10px;
    position: relative;

    &:before {
        @extend .fa;
        @extend .fa-comment;
        color: $smc-cor-principal;
        font-size: 16px;
        position: absolute;
        left: 18px;
        transform: scaleX(-1);
        top: 50%;
        transform: translate(-50%, -50%);
    }

    p {
        float: left;
        clear: left;
        color: $smc-cor-principal;
        font-size: 12px;
        margin: 2px 0 0 6px;
    }

    a {
        font-size: 13px;
        color: $smc-cor-secundaria-01;
        text-decoration: underline;
        font-style: italic;
        position: relative;
        padding-right: 13px;

        &::after {
            @extend .fa;
            @extend .fa-external-link;
            font-size: 10px;
            color: $smc-cor-secundaria-01;
            content: "\f08e";
            margin-left: 4px;
            top: -2px;
            position: relative;
        }
    }
}

.smc-sga-alinha-direita {
    .smc-button {
        float: right;
    }
}

.smc-sga-tag {
    margin-bottom: 2px;
    float: left;
    background-color: #dcdcdc;
    font-size: 10px !important;
    border-radius: 4px;
    margin-left: 6px;
    color: #505050 !important;
    margin-top: 7px;
    padding: 2px 5px;
    align-self: flex-start;
}

.smc-btn-header-secundario {
    font-size: 11px;
    line-height: 13px;
    height: 25px;

    i {
        position: relative;
        margin-top: 0;
    }
}
