<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:asmv1="urn:schemas-microsoft-com:asm.v1">
	<!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>

	<system.serviceModel>
		<client xdt:Transform="Replace">
			<endpoint name="SMC.Framework.DataFilters.ISMCDataFilterService" address="net.pipe://localhost/Seguranca/v4/DataFilterService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.DataFilters.ISMCDataFilterService"/>
			<!-- Segurança para SMCAuthorize -->
			<endpoint name="SMC.Framework.Security.ISMCAuthorizationService" address="net.pipe://localhost/Seguranca/v4/AutorizacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Security.ISMCAuthorizationService"/>
			<!-- Serviço para Filtro de dados (SGA) -->
			<endpoint name="Academico" address="net.pipe://localhost/Academico/v4/DataFilterProviderService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.DataFilters.ISMCDataFilterProviderService"/>
			<!-- Endpoint para Localidade -->
			<endpoint name="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" address="net.pipe://localhost/Localidades/v4/LocalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService"/>
			<!-- Endpoint para Pessoa -->
			<endpoint name="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService" address="net.pipe://localhost/Pessoas/v4/PessoaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService" />
			<!--Endpoint para dados mestres-->
			<endpoint name="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" address="net.pipe://localhost/DadosMestres/v4/IntegracaoDadoMestreService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" />
			<!-- Endpoint para Formularios -->
			<endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" address="net.pipe://localhost/Formularios/v4/EtapaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" />
      <!-- Endpoint para Assinatura Digital -->
      <endpoint name="SMC.AssinaturaDigital.ServiceContract.Areas.DDG.Interfaces.IConfiguracaoDocumentoAcademicoService" address="net.pipe://localhost/AssinaturaDigital/v4/ConfiguracaoDocumentoAcademicoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AssinaturaDigital.ServiceContract.Areas.DDG.Interfaces.IConfiguracaoDocumentoAcademicoService" />
	  <endpoint name="SMC.AssinaturaDigital.ServiceContract.Areas.DOC.Interfaces.IConfiguracaoDocumentoService" address="net.pipe://localhost/AssinaturaDigital/v4/ConfiguracaoDocumentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AssinaturaDigital.ServiceContract.Areas.DOC.Interfaces.IConfiguracaoDocumentoService" />
      <!-- Endpoint para Sistema Origem -->
      <endpoint name="SMC.AssinaturaDigital.ServiceContract.Areas.CAD.Interfaces.ISistemaOrigemService" address="net.pipe://localhost/AssinaturaDigital/v4/SistemaOrigemService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AssinaturaDigital.ServiceContract.Areas.CAD.Interfaces.ISistemaOrigemService" />
      <!-- Serviço para Estrutura Organizacional -->
      <endpoint name="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" address="net.pipe://localhost/EstruturaOrganizacional/v4/EstruturaOrganizacionalService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.IO.Compression')"/>
			<dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http')"/>
			<dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http.Formatting')"/>
		</assemblyBinding>
	</runtime>
</configuration>