<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:asmv1="urn:schemas-microsoft-com:asm.v1">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="Replace" mode="On" defaultRedirect="~/Home/SMCError" />
  </system.web>
  <system.serviceModel>
    <client>
      <!-- Endpoint para SMCAuthorize -->
      <endpoint name="SMC.Framework.Security.ISMCAuthorizationService" address="net.pipe://localhost/Seguranca/v4/AutorizacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Security.ISMCAuthorizationService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" address="net.pipe://localhost/Seguranca/v4/UsuarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" address="net.pipe://localhost/Seguranca/v4/AplicacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" address="net.pipe://localhost/Seguranca/v4/FuncionalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <!-- Endpoint para Infraestrutura -->
      <endpoint name="SMC.Infraestrutura.ServiceContract.Areas.EML.Interfaces.IEmailService" address="net.pipe://localhost/Infraestrutura/v4/EmailService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Infraestrutura.ServiceContract.Areas.EML.Interfaces.IEmailService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <!-- Serviço para Filtro de dados (SEGURANCA) -->
      <endpoint name="SMC.Framework.DataFilters.ISMCDataFilterService" address="net.pipe://localhost/Seguranca/v4/DataFilterService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.DataFilters.ISMCDataFilterService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <!-- Serviço para Estrutura Organizacional -->
      <endpoint name="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" address="net.pipe://localhost/EstruturaOrganizacional/v4/EstruturaOrganizacionalService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <!-- Endpoint para Localidade -->
      <endpoint name="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" address="net.pipe://localhost/Localidades/v4/LocalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <!-- Endpoint para o Notificações -->
      <endpoint name="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" address="net.pipe://localhost/Notificacoes/v4/NotificacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.IO.Compression')" />
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http')" />
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http.Formatting')" />
    </assemblyBinding>
  </runtime>
</configuration>