.smc-acessibilidade-contraste .smc-menu-responsivo-orientation-horizontal .smc-menu-dinamico, .smc-acessibilidade-contraste .smc-menu-responsivo-orientation-horizontal .smc-dynamic-menu,
.smc-acessibilidade-contraste .smc-menu-responsivo-orientation-horizontal .smc-menu-dinamico-principal,
.smc-acessibilidade-contraste .smc-menu-responsivo-orientation-horizontal .smc-menu-dinamico-principal li {
  background-color: #5a5a5a !important;
}
.smc-acessibilidade-contraste .smc-ribbon, .smc-acessibilidade-contraste .smc-sga-externo-totalizador:before,
.smc-acessibilidade-contraste .smc-sga-externo-totalizador-status-novo:before,
.smc-acessibilidade-contraste .smc-sga-externo-totalizador-status-emandamento:before,
.smc-acessibilidade-contraste .smc-sga-externo-totalizador-status-concluida:before,
.smc-acessibilidade-contraste .smc-sga-externo-totalizador-status-encerrada:before {
  background: #000 !important;
}
.smc-acessibilidade-contraste div.smc-wizard-step {
  background-color: transparent !important;
}
.smc-acessibilidade-contraste div.smc-sga-processo-passo-atual.smc-wizard-step span {
  background-color: #fff000 !important;
}
.smc-acessibilidade-contraste div.smc-sga-processo-passo-atual.smc-wizard-step span:before {
  color: #000;
}
.smc-acessibilidade-contraste .smc-acessibilidade > button {
  border: 0;
}
.smc-acessibilidade-contraste .smc-sga-externo-solicitacoes {
  border: 1px solid #fff;
}
.smc-acessibilidade-contraste .smc-button > .smc-estilo-botao-selecionar-instituicao {
  border-color: transparent !important;
}
.smc-acessibilidade-contraste .smc-button > .smc-estilo-botao-selecionar-instituicao::before {
  color: #fff000 !important;
}
.smc-acessibilidade-contraste .smc-sga-aluno-logotipo-intituicao img {
  filter: invert(100%);
}
.smc-acessibilidade-contraste th {
  background: #2f2c2c !important;
}
.smc-acessibilidade-contraste .smc-timeline-data {
  background-color: #5a5a5a !important;
  border-color: #5a5a5a !important;
}
.smc-acessibilidade-contraste .smc-timeline-data:after {
  border-color: transparent #5a5a5a transparent transparent;
}
.smc-acessibilidade-contraste .smc-timeline-data:before {
  background-color: #5a5a5a !important;
}
.smc-acessibilidade-contraste .smc-instrucoes-preenchimento-icone {
  background-color: transparent !important;
  border: none !important;
}
.smc-acessibilidade-contraste button.smc-editorformodel-advancedfilter {
  border: 1px solid #fff;
  background: #fff;
}
.smc-acessibilidade-contraste button.smc-editorformodel-advancedfilter:before {
  color: #000;
}
.smc-acessibilidade-contraste button.smc-editorformodel-advancedfilter:focus {
  background: #ccc !important;
}
