body {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  background: #fff; }

body, button, input, select, textarea, a, p, span, label, li, h1, h2, h3, h4, h5, h6 {
  font-family: 'segoe_uiregular', Arial, sans-serif;
  font-size: 14px;
  color: #000 !important; }

p, a {
  color: #000 !important;
  margin: 5px 5px 5px 0; }

a[href]:after {
  content: none !important; }

* {
  border-color: #aaaaaa !important; }

.logo {
  margin-bottom: 50px; }
  .logo .logo-img {
    position: absolute;
    margin: 5px 5px 5px 5px; }
    .logo .logo-img img {
      height: 80px; }
  .logo .logo-nome {
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin: 5px 5px 5px 5px;
    font-size: 12pt; }
  .logo h1 {
    text-align: center;
    font-size: 14pt;
    margin-top: 50px; }

.smc-print-grid table {
  page-break-inside: auto !important;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse; }

.smc-print-grid thead {
  display: table-header-group !important;
  background-color: #ccc;
  border: 1px solid #aaaaaa;
  font-size: 13px; }

.smc-print-grid tr {
  page-break-inside: avoid !important; }

.smc-print-grid tbody, .smc-print-grid td, .smc-print-grid th {
  background-color: #fff !important; }

.smc-print-grid td {
  padding: 0 0 0 5px; }

.smc-print-grid tr td {
  border: 1px solid #aaaaaa; }

.smc-print-grid a {
  text-decoration: underline !important; }

.smc-print-grid .smc-grid {
  width: 100%;
  border: 1px solid #000;
  margin: 5px 0;
  clear: both; }

.smc-print-grid .smc-print-grid-theader {
  background-color: #ccc;
  padding: 10px 15px;
  font-size: 11px !important;
  border-top: 1px solid;
  border-bottom: 1px solid; }

#pageFooter {
  display: table-footer-group; }

#pageFooter:after {
  counter-increment: page;
  content: counter(page); }

.smc-sga-confirmacao-dados .smc-display {
  margin-bottom: 10px; }

.smc-sga-confirmacao-dados .smc-display label {
  font-weight: bold; }

.smc-sga-confirmacao-dados .smc-display label + p {
  clear: both; }

fieldset {
  margin-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 10px; }

legend {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px; }

.smc-size-xs-1, .smc-size-xs-2, .smc-size-xs-3, .smc-size-xs-4, .smc-size-xs-5, .smc-size-xs-6, .smc-size-xs-7, .smc-size-xs-8, .smc-size-xs-9, .smc-size-xs-10, .smc-size-xs-11, .smc-size-xs-12, .smc-size-xs-13, .smc-size-xs-14, .smc-size-xs-15, .smc-size-xs-16, .smc-size-xs-17, .smc-size-xs-18, .smc-size-xs-19, .smc-size-xs-20, .smc-size-xs-21, .smc-size-xs-22, .smc-size-xs-23, .smc-size-xs-24 {
  float: left; }

.smc-size-xs-1 {
  width: 4.16667%; }

.smc-size-xs-2 {
  width: 8.33333%; }

.smc-size-xs-3 {
  width: 12.5%; }

.smc-size-xs-4 {
  width: 16.66667%; }

.smc-size-xs-5 {
  width: 20.83333%; }

.smc-size-xs-6 {
  width: 25%; }

.smc-size-xs-7 {
  width: 29.16667%; }

.smc-size-xs-8 {
  width: 33.33333%; }

.smc-size-xs-9 {
  width: 37.5%; }

.smc-size-xs-10 {
  width: 41.66667%; }

.smc-size-xs-11 {
  width: 45.83333%; }

.smc-size-xs-12 {
  width: 50%; }

.smc-size-xs-13 {
  width: 54.16667%; }

.smc-size-xs-14 {
  width: 58.33333%; }

.smc-size-xs-15 {
  width: 62.5%; }

.smc-size-xs-16 {
  width: 66.66667%; }

.smc-size-xs-17 {
  width: 70.83333%; }

.smc-size-xs-18 {
  width: 75%; }

.smc-size-xs-19 {
  width: 79.16667%; }

.smc-size-xs-20 {
  width: 83.33333%; }

.smc-size-xs-21 {
  width: 87.5%; }

.smc-size-xs-22 {
  width: 91.66667%; }

.smc-size-xs-23 {
  width: 95.83333%; }

.smc-size-xs-24 {
  width: 100%; }

.smc-sga-fieldset-terciario {
  margin: 5px;
  padding: 15px;
  background: #fff;
  border-width: 1px !important; }
  .smc-sga-fieldset-terciario legend {
    font-size: 15px !important;
    font-style: italic; }
  .smc-sga-fieldset-terciario hr {
    border: none;
    clear: both;
    border-bottom: dashed 1px #ccc !important; }

.smc-sga-desc-atual {
  width: 96% !important; }
