@import "smc-recursos.scss";

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #fff;
}

label, p, span {
    color: #000;
    font-size: 12px;
}

.boleto-legenda {
    font-size: 8px;
    vertical-align: top;
    white-space: nowrap;
}

.boleto-abaixo {
    vertical-align: bottom !important;
}

.boleto-item {
    font-size: 11px;
    vertical-align: bottom;
    margin: 5px;
}

.boleto-item-destaque {
    font-size: 13px;
    font-weight: bold;
    vertical-align: bottom;
    margin: 5px;
}

.boleto-titulo {
    text-align: right;
    vertical-align: bottom;
    white-space: nowrap;
    font-size: 13px;
    font-weight: bold;
}

.boleto-destaque {
    font-size: 13px;
    font-weight: bold;
}

.boleto-banco {
    font-size: 17px;
    text-align: justify;
    font-weight: bold;
}

.boleto-divisor {
    overflow: hidden;
    white-space: nowrap;
}

.boleto-tabela {
    border-collapse: collapse;
    width: 100%;
    td{
        padding-left:5px;
        padding-top:2px;
    }
}

.boleto-table td {
    padding: 0;
}

.boleto-com-borda {
    border: solid 1px #000000;
}

.smc-boleto {
}

.smc-titulo-instituicao-boleto {
    min-height: 25px;
    min-height: 80px;

    h1 {
        font-size: 25px;
        margin: 40px 0 0 35px;
        color: #000;
        font-weight:bold;
        padding-top: 20px;
    }
}

.smc-titulo-instituicao-boleto-img {
    width: 80px;
    height: 80px;
    margin-top: 5px;

    img {
        width: 100%;
        height: auto;
    }
}

.smc-cabecalho-boleto {
    border: solid 1px #000000;

    p {
        font-weight: 600;
        font-size: 13px;
        clear: both;
        margin: 0 5px 5px 5px;
    }
}

.smc-conteudo-boleto {
    p {
        font-weight: 600;
        font-size: 13px;
        clear: both;
        margin: 0 5px 5px 5px;
    }
}

.smc-cabecalho-boleto-conteudo {
    min-height: 85px;
}

.smc-separador-horizontal {
    border-bottom: solid 1px #000000;
}

.smc-separador-vertical {
    border-right: solid 1px #000;
}

.smc-texto-bold {
    font-weight: bold;
}

.smc-texto-destaque {
    font-size: 14px;
    font-weight: bold;
}

.smc-demonstrativo-boleto {
    border: solid 1px #000000;
    min-height: 185px;
    margin-top: 10px;
}

table {
    font-size: 11px;
    width: 98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 1%;
    margin-right: 1%;

    thead {
        font-weight: 600;

        td {
            padding: 5px 10px 5px 7px;
        }
    }
}

.smc-alinhamento-direita {
    text-align: right;
}

.smc-alinhamento-centro {
    text-align: center;
}

.smc-separador-boleto {
    border-bottom: dashed 1px #000000;
    margin: 15px 0 15px 0;
    padding-bottom: 10px;
}

/*Ajuste de bordas para boletos do PUC Mobile*/
.smc-pucmobile-ajuste-borda-lateral {
    padding-right: 0 !important;
    padding-left: 0 !important
}
.smc-pucmobile-cabecalho-boleto-conteudo {
    height: 115px;
} 
/*Fim ajuste de bordas para boletos do PUC Mobile*/