@using (Smc.Div().Size(SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24).CssClass("smc-sga-mensagem smc-sga-mensagem-informativa").Begin())
{
    <p>@Smc.GetUIResource("Mensagem_Hierarquia_Entidade_Item")</p>
}