<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:asmv1="urn:schemas-microsoft-com:asm.v1">
  <smc.rest>
    <apis xdt:Transform="Replace">
      <api name="CargaIngressante" url="http://localhost/Academico.WebAPI/api/CargaIngressanteIndividual" />
	  <api name="CurriculoGAD" url="http://localhost/AssinaturaDigital.WebApi/api/Curriculo" />
    </apis>
  </smc.rest>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <netNamedPipeBinding>
        <binding name="SMCNetPipeLarge" closeTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="SMCNetTcpLarge" closeTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding>
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <!-- Serviço para Filtro de dados (SEGURANCA) -->
      <endpoint name="SMC.Framework.DataFilters.ISMCDataFilterService" address="net.pipe://localhost/Seguranca/v4/DataFilterService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.DataFilters.ISMCDataFilterService" />
      <!-- Endpoint para o SAS -->
      <endpoint name="SMC.Framework.Security.ISMCAuthorizationService" address="net.pipe://localhost/Seguranca/v4/AutorizacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Security.ISMCAuthorizationService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" address="net.pipe://localhost/Seguranca/v4/UsuarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" address="net.pipe://localhost/Seguranca/v4/AplicacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.PER.Interfaces.IPerfilService" address="net.pipe://localhost/Seguranca/v4/PerfilService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.PER.Interfaces.IPerfilService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" address="net.pipe://localhost/Seguranca/v4/FuncionalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" />
      <!-- Endpoint para o GPI -->
      <endpoint name="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IIntegracaoService" address="net.pipe://localhost/Inscricoes/v4/IntegracaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IIntegracaoService" />
      <!-- Endpoint para o AGD -->
      <endpoint name="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoEventoService" address="net.pipe://localhost/Calendarios/v4/TipoEventoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Calendarios.ServiceContract.Areas.CLD.Interfaces.ITipoEventoService" />
      <!-- Serviço para o SAT (Agendador de tarefas) -->
      <endpoint name="SMC.Framework.Model.Jobs.ISMCReportProgressJobService" address="net.pipe://localhost/AgendadorTarefa/v4/ReportProgressService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Model.Jobs.ISMCReportProgressJobService" />
      <!-- Endpoint para Formularios -->
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" address="net.pipe://localhost/Formularios/v4/EtapaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoEtapaService" address="net.pipe://localhost/Formularios/v4/SituacaoEtapaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoEtapaService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" address="net.pipe://localhost/Formularios/v4/SituacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" />

      <!-- Endpoint para DadosMestres -->
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" address="net.pipe://localhost/DadosMestres/v4/IntegracaoDadoMestreService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" />
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.ITipoDocumentoService" address="net.pipe://localhost/DadosMestres/v4/TipoDocumentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.ITipoDocumentoService" />

      <!-- Endpoint para o Integração Financeiro (GRA) -->
      <endpoint name="SMC.Financeiro.ServiceContract.BLT.IIntegracaoFinanceiroService" address="net.pipe://localhost/Financeiro/v4/IntegracaoFinanceiroService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Financeiro.ServiceContract.BLT.IIntegracaoFinanceiroService" />

      <!-- Endpoint para o Notificações -->
      <endpoint name="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" address="net.pipe://localhost/Notificacoes/v4/NotificacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" />

      <!-- Endpoint para o Integração Acadêmico -->
      <endpoint name="SMC.IntegracaoAcademico.ServiceContract.Areas.IAC.Interfaces.IIntegracaoAcademicoService" address="net.pipe://localhost/IntegracaoAcademico/v4/IntegracaoAcademicoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.IntegracaoAcademico.ServiceContract.Areas.IAC.Interfaces.IIntegracaoAcademicoService" />

      <endpoint name="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService" address="net.pipe://localhost/Pessoas/v4/PessoaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService"/>
      
	  <!-- Endpoint para Sistema Origem -->
      <endpoint name="SMC.AssinaturaDigital.ServiceContract.Areas.CAD.Interfaces.ISistemaOrigemService" address="net.pipe://localhost/AssinaturaDigital/v4/SistemaOrigemService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AssinaturaDigital.ServiceContract.Areas.CAD.Interfaces.ISistemaOrigemService" />
	  <!-- Serviço para Estrutura Organizacional -->
	  <endpoint name="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" address="net.pipe://localhost/EstruturaOrganizacional/v4/EstruturaOrganizacionalService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" />
	  <!-- Endpoint para Localidade -->
      <endpoint name="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" address="net.pipe://localhost/Localidades/v4/LocalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" />
  </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.IO.Compression')" />
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http')" />
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http.Formatting')" />
    </assemblyBinding>
  </runtime>
</configuration>