@mixin font-face($font-path, $font-family, $name-file, $font-weight: normal, $font-style: normal) {
    $file-path: $font-path + $name-file + ".woff";

    @font-face {
        font-family: $font-family;
        src: url($file-path) format('woff');
        font-weight: $font-weight;
        font-style: $font-style;
    }
}