@*--(obrigatório) uso obrigatório do logotipo da GTI e Copyright--*@
<footer class="smc-footer footer smc-conteudo-padding">
    <ul class="smc-footer-conteudo container">
        <li class="smc-footer-copyright" title="@string.Format(Smc.GetUIResource("Layout_Legenda_Copyright"), DateTime.Today.Year)">@string.Format(Smc.GetUIResource("Layout_Legenda_Copyright"), DateTime.Today.Year)</li>
        <li class="smc-footer-logo-gti" title="@Smc.GetUIResource("Layout_Titulo_Logotipo_GTI")"></li>
        <li class="smc-footer-logo-smc" title="@Smc.GetUIResource("Layout_Titulo_Logotipo_SMC")"></li>
    </ul>
</footer>
